[2016-05-16 03:17] choirudin2210 opened #1 "How to get users in a conversation except Auth::user() ?"

[2016-05-16 03:43] musonza commented on #1
You can try the below code:
`$users = $conversation->users()->where('user_id', '<>', Auth::user()->id)->get();`

[2016-05-16 12:59] #1 closed

[2016-05-30 08:46] klarizonemar opened #2 "Non-static method Musonza\Chat\Chat::createConversation() should not be called statically"
When I run this:

`$conversation = Chat::createConversation([$userId, $userId2]);`

I get this:

[code]

Can you help me with this? Thank you. I'm new to Laravel.

[2016-05-30 08:52] klarizonemar commented on #2
``

[2016-05-30 08:52] #2 closed

[2016-06-05 07:25] yazirrizki opened #3 "Fix the order for php artisan migrate"
I dont know, but I got errors when I try to migrate table.
so I fix the order, and voila. Its work.

Maybe if you want to help me, you can share the demo/example from this package?
Btw you are awesome, this package is so nice

[2016-06-05 20:50] musonza commented on #3
What did the error message say and what do you mean by the order. Thanks

[2016-06-06 02:09] yazirrizki commented on #3
sorry, I am forgot to screenshot, something about foreign key etc

[2016-06-06 02:32] #3 closed

[2016-06-06 03:02] yazirrizki commented on #3
Can u provide the example?

[2016-06-06 18:28] musonza commented on #3
I don't have an example at hand. What exactly do you need from the example. The **readme** should be enough to get you going. Also, you can check the tests in **chat/tests/integration/** as they contain everything you need on how to work with the package.

[2016-08-18 08:59] mCassy opened #4 "How to overwrite Chat::send ?"
Hi there. How can I overwrite Chat::send method? I need to attach a file id to message.
Thanks.

[2016-08-18 16:27] musonza commented on #4
Hi. I'm not sure I understand you question. You want to provide additional data that can be referenced from the message sent? Otherwise, maybe you can create a PR with an optional field `extra` in the `messages` migration which people can add any text (maybe some can use json depending on use case)

[2016-08-27 01:04] #4 closed

[2016-09-20 15:28] vezlius opened #5 "User model in different namespace"
I keep User model in CustomName\Models\User namespace. Is there easy way I can change the settings or should I check each file and change it manually?

How do I check if conversation already exists between two users? Method getConversationBetweenUsers() gives you one only if there is one, otherwise throws error "Undefined offset: 0", instead of null or false...

[2016-09-20 19:04] musonza commented on #5
Give me a few hours and I will push an update with a config file where you can specify a User model. Will also address the getConversationBetweenUsers() issue.

[2016-09-20 20:02] musonza commented on #5
This is taken care of. Check this pull request #6

[2016-09-20 20:02] #5 closed

[2016-09-21 02:04] vezlius opened #7 "Class name must be a valid object or a string"
When I run Chat::createConversation() it does create a conversation in a conversations table, but nothing in conversation_user table. Gives an error: "Class name must be a valid object or a string" instead.

First 8 lines from error page...
in Model.php line 939
at Model->belongsToMany(null, 'conversation_user') in Conversation.php line 20
at Conversation->users() in Conversation.php line 65
at Co

[2016-09-21 02:35] musonza commented on #7
Did you update the chat.php file in config?

[2016-09-21 02:48] vezlius commented on #7
Oops, my bad. Sorry for the troubles and thank you for quick update.

[2016-09-21 02:48] #7 closed

[2016-09-21 15:57] vezlius opened #8 "Get all the messages in a conversation"
Using Chat::messages() I get all the messages in a conversation, but they all come in under same sender or recipient (depending on which ID you put as first parameter) no matter if I am a sender or recipient.
Even if I'm a sender but using recipients ID in a function the message sender shows up as a recipient.
Is there a way to distinguish which message belongs to which user?

[2016-10-05 17:46] #8 closed

[2016-10-05 17:56] vezlius opened #9 "New method"
Would it be possible for you to add a method to get ids and usernames of all open/started conversations for a logged in user? Something like getAllOpenChatsUsers(). Let's say I want to show just a list of all users I have started a conversation with (or they started with me)

[2016-10-06 16:46] musonza commented on #9
Ok I will look at this.

[2016-12-01 05:47] mrmrn opened #10 "I am wondering about usin this package,could you please help me?"
hello.
thank you for this package.
I have some users in my web application and I want to implement direct messaging to each other.
could I use this package? how to use this package for this purpose?

[2016-12-05 20:38] musonza commented on #10
Yes you can use the package. Have you gone through the instructions here: [https://github.com/musonza/chat#usage](url) ?

[2017-03-08 00:08] #10 closed

[2017-03-08 00:08] #9 closed

[2017-03-19 22:04] hawkeye64 opened #11 "Migration error"
The issue is that the messages table is created before the conversations table and the message table institutes foreign key restraints on the conversations table (that doesn't exist yet!).

[Illuminate\Database\QueryException]
  SQLSTATE[HY000]: General error: 1005 Can't create table `chat`.`#sql-644_132` (errno: 150 "Foreign key constraint is incorrectly formed") (SQL: alter table `messages` add

[2017-03-22 02:44] musonza commented on #11
@hawkeye64 Thanks for the feedback. You can create a pull request with the fix and I will accept. Thanks

[2017-03-23 05:39] ahmedfekry opened #12 "Chat class not found !!"
I am facing this error !!

FatalErrorException in ConversationController.php line 14:
Class 'App\Http\Controllers\Chat' not found

How can i fix that ?

[2017-03-23 05:44] #12 closed

[2017-03-23 05:45] ahmedfekry commented on #12
use Chat;

[2017-03-29 07:27] tolgatasci commented on #11
hi,
migrations folder 2016_03_05_050939_create_conversations_table ...  rename

1_create_conversations_table
UP

It has to be over. Because; First he is trying to create the messages table.

[2017-03-29 07:34] tolgatasci opened #13 "Two USER Controll exits"
Have you been in a call between two users before?
If it is, you need to show the conversation.

[2017-03-29 08:21] tolgatasci commented on #13
sry i read again getConversationBetweenUsers thank you

[2017-03-29 08:21] #13 closed

[2017-03-30 07:24] tolgatasci opened #14 "offer"
To list the messages of the user, to get information of the person who is not himself

In the meantime, the best class
foreach(Chat::conversation($user->conversation_id)->users as $kullanici){
            if($kullanici->id !== $userId){
            $us = $kullanici;
            }

            }

[code]

[2017-06-23 02:32] devWaleed opened #15 "Adding update last conversation message field"
Hey, can you add a new field in conversations table for last message date ? It would be much quicker to sort conversations based on that.

[2017-06-23 02:34] devWaleed opened #16 "Syntax error, access voilation for user Conversations"
I did this piece of code

[code]

and it gave me this error:

`SQLSTATE[42000]: Syntax error or access violation: 1055 'mydb.messages.id' isn't in GROUP BY (SQL: select `messages`.*, `messages`.`id` as `message_id`, `conversation_user`.* from `conversation_user` inner join `messages` on `messages`.`conversation_id` = `conversation_user`.`conversation_id` where `conversation_user`.`user_id` = 19 gr

[2017-06-23 07:32] tolgatasci commented on #16
https://stackoverflow.com/questions/40917189/laravel-syntax-error-or-access-violation-1055-error

[2017-06-23 07:38] tolgatasci commented on #15
Messages Table already have

[code]

$table->timestamps();  already have

[2017-06-23 10:17] devWaleed commented on #15
We can sort messages this way but not the conversations. Look at this piece of code:

        $user = Auth::user();

        $_convs = $user->conversations;
        $convs_ids = $_convs->pluck('conversation_id');

        $convs = ConversationUser::
            whereIn('conversation_id', $convs_ids)
            ->where('user_id', '!=', $user->id)
            ->with('messages')
            ->with('

[2017-06-23 12:04] tolgatasci commented on #15
i type
https://github.com/musonza/chat/issues/14

I think you are looking for something like that.

2 user's profile

[2017-06-23 12:23] devWaleed commented on #15
$recent_message = $user->conversation->messages()->orderBy('id', 'desc')->first()->toArray();

Can you provide this relation in Users model?

[2017-06-23 13:29] devWaleed commented on #15
Well never mind, I solved it another way. I could have created those joins myself but the problem is I don't like joins since they don't support Eloquent relations. I like to query through relations.

So I am using my current piece of code for retrieving each 'other user' of my current user's conversation and also all messages of that conversation same what you did but using Eloquent:

        $co

[2017-06-23 15:35] musonza commented on #14
@tolgatasci I will look at adding this code or you can submit a PR. Thanks

[2017-07-14 20:34] musonza commented on #15
This will be in a new version that i will release soon.

[2017-07-14 20:34] #15 closed

[2017-07-22 03:24] #16 closed

[2017-07-22 03:24] #14 closed

[2017-07-22 03:24] #11 closed

[2017-08-03 05:54] mrkalmdn opened #23 "How to get all conversations of the Authenticated user?"

[2017-08-04 16:49] musonza commented on #23
@mrkalmdn https://github.com/musonza/chat#get-recent-messages

` Chat::conversations()->for($user)->limit(25)->page(1)->get();`

This actually returns the conversations list with the latest message in each conversation.

Does that help?

[2017-08-05 03:49] mrkalmdn commented on #23
Hi @musonza,

Tried it. But I'm getting this error.
[code]

[2017-08-05 19:27] musonza commented on #23
@mrkalmdn Looks like you are using MSSQL. I haven't used MSSQL so i'm not sure about the json column support.

[2017-08-05 23:14] mrkalmdn commented on #23
I think my SQL Server doesn't support json column. Thanks anyway.

_Sent from my Google Nexus 5 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-05 23:14] #23 closed

[2017-08-06 23:00] musonza commented on #23
You can use the previous version of the package if you want

[2017-08-07 02:46] mrkalmdn commented on #23
Will do. Thanks!

[2017-08-22 12:18] shraddha-islaniya opened #24 "Nothing to migrate"
I did follow your steps but my migration and config files didn't create in folder.

[2017-08-22 12:23] musonza commented on #24
So nothing happenes when you run 'php artisan vendor:publish' ? What version of laravel are you using?

[2017-08-24 14:41] #24 closed

[2017-08-28 09:32] shraddha-islaniya commented on #24
I'm using laravel 5.4.33

[2017-08-28 10:25] shraddha-islaniya commented on #24
Oh! I didn't notice that it's only for 5.3. What should I do now?

[2017-08-28 22:19] musonza commented on #24
no it should work with laravel 5.4.x. It doesn't work for less than 5.3

[2017-10-03 21:50] siarheipashkevich opened #29 "How I can start conversation with oneself but before that check if there already conversation exists?"
Could you please explain how I can start conversation with oneself with existing structure of the table (but before that check if there is already conversation with oneself)? Also before starting conversation with oneself I have already other conversations.

[2017-10-03 22:45] musonza commented on #29
You can use this to check if two users have already started a conversation:
https://github.com/musonza/chat#get-a-conversation-between-two-users
[code]

[2017-10-03 22:46] #29 closed

[2017-10-11 12:05] lloricode opened #30 "Error on selecting conversation"
![screenshot-2017-10-11 messenger](https://user-images.githubusercontent.com/8251344/31439631-75d873e6-aebf-11e7-80cd-7ff5844ee6cc.png)

[2017-10-11 12:40] Martin-Ha commented on #30
Same error here, I get two error messages:

(1/2) PDOExceptionSQLSTATE[42000]: Syntax error or access violation: 1064 You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '>'$."message_id"' = `mc_messages`.`id` where `mc_messages`.`conversation_id` in '
in /vendor/laravel/framework/src/Illuminate/Database/Connection.p

[2017-10-11 12:51] musonza commented on #30
What version of MariaDB do you have? The issue maybe the support for JSON columns.

[2017-10-11 12:54] musonza commented on #30
@Martin-Ha What type of database are you using. You may also have an issue with JSON columns. You can however use an older version of the package if the issue is not resolved soon. https://github.com/musonza/chat/tree/1.0

[2017-10-11 13:00] Martin-Ha commented on #30
@musonza Here's my config via phpmyadmin:

Server: Localhost via UNIX socket
Server type: MySQL
Server version: 5.5.47-0+deb8u1 - (Debian)
Protocol version: 10
Server charset: UTF-8 Unicode (utf8)
Web server

Apache/2.4.10 (Debian)
Database client version: libmysql - 5.5.47

[2017-10-11 13:02] Martin-Ha commented on #30
@musonza Also, here's the config I have on development machine where it works flawlessly (homestead):

Database server

Server: Localhost via UNIX socket
Server type: MySQL
Server version: 5.7.17-0ubuntu0.16.04.2 - (Ubuntu)
Protocol version: 10
User: homestead@localhost
Server charset: UTF-8 Unicode (utf8)

nginx/1.11.9
Database client version: libmysql - mysqlnd 5.0.12-dev - 20150407 - $Id: b3969

[2017-10-11 13:47] tolgatasci commented on #30
look '>'$."message_id"'
problem '$."

[2017-10-11 15:17] musonza commented on #30
@Martin-Ha @tolgatasci I will do a few tests later on today and also look at lloricode/e-ttendance-laravel to recreate the issue. Otherwise if you have a fix you can create a pull request. Can you show me a snippet of code that you are running to select the conversation etc?

[2017-10-11 16:12] Martin-Ha commented on #30
`
    $count = 0;

    $conversations = Chat::conversations()->for($this->user)->get();
    foreach ($conversations as $conversation)
    {
      $count += $conversation->messages()->count();
    }

    return $count;`

[2017-10-11 18:19] musonza commented on #30
@Martin-Ha It works on the other environment because you are using at least MySQL 5.7 which supports JSON columns but on the other environment it looks like you are using MySQL 5.5
https://dev.mysql.com/doc/refman/5.7/en/json.html

[2017-10-11 21:23] lloricode commented on #30
@musonza thanks response, the problem is on the xampp user.. while on mine looks great no issue im using msql-workbench. the other user who create issue on my repo has a prblem they using xampp on windows.

[2017-10-11 23:28] lloricode commented on #30
this is where the code occured error

https://github.com/lloricode/e-ttendance-laravel/blob/master/app/Repositories/Backend/ChatRepository.php#L46

[2017-10-12 00:13] musonza commented on #30
Yes the package uses laravel notifications which takes advantage of the Json columns. Can you verify the version of MySQL being used is 5.5 whereever you get the error? Xampp or workbench etc shouldn't matter

I will/may however add capability to use custom notifications like I had in the version 1 of the chat package for users with older MySQL versions

[2017-10-12 14:55] ufeg02 opened #31 "Feature request: Pusher"
Do you have any plans to integrate Pusher (or socket.io, ...) for real-time chat?

[2017-10-12 15:41] musonza commented on #31
I will look at having an option to Broadcast events but I don't have a specific timeline.

[2017-10-14 13:57] lloricode commented on #30
sorry for a long replay, I ask the other user but did not replay, they just install work-bench without any know what is the version of mysql in their issue,

[2017-10-14 13:59] lloricode commented on #30
hmm btw thanks :)

best regard @musonza

[2017-10-14 14:01] lloricode commented on #30
@musonza

they just got replay, they used version `4.7.0 `

[2017-10-14 14:14] #31 closed

[2017-10-20 09:53] ufeg02 opened #32 "Get the senders in a conversation"
Is it possible to get the participants in a conversation without the authenticated user in Blade?

[2017-10-20 19:16] #30 closed

[2017-10-21 14:53] ufeg02 commented on #29
Is it also possible to check if a conversation with multiple users already exists?

[2017-10-21 15:17] musonza commented on #29
$conversation is an Eloquent model so you can pretty much do anything you do with Eloquent Models

So let's say we have found our $conversation

[code]

Or get the count

[code]

[2017-10-21 15:25] musonza commented on #32
Why not just return the list in your controller excluding the authenticated user?

[2017-10-21 17:41] ufeg02 commented on #32
Sounds good! I use this code to get the messages. What's the best aproach to exclude the authenticated user?

 $this->messages = Chat::conversations()->for($user)->limit(25)->page(1)->get();

[2017-10-21 18:45] musonza commented on #32
You want to exclude messages for the authenticated user? I'm not sure I understand.

[2017-10-21 19:14] ufeg02 commented on #32
No, I want the latest conversations of the authenticated user. If I show the list of conversations I don't want to show the authenticated user in the participant list.

[2017-10-21 19:53] musonza commented on #32
I'm not sure what your code looks like to display the list. You know the authenticated user so how about put an if statement in your template logic to exclude the user. Some people may choose to show the user so this is something you should handle at your app code level. Let me know if that helps. Otherwise  show me what you template code looks like.

[code]

[2017-10-23 14:05] ufeg02 commented on #32
Thank you!

[2017-10-23 14:11] #32 closed

[2017-10-23 14:32] ufeg02 commented on #29
What's the most efficient approach to check if a conversation exists between 4 users?

[2017-10-23 16:22] musonza commented on #29
There are a few ways you could do this. Here is one:
I will make an update to the package and add something like this but you can use this in the meantime.
[code]

[2017-10-23 18:23] musonza commented on #29
https://github.com/musonza/chat/releases/tag/v2.0.2

See
https://github.com/musonza/chat#get-common-conversations-among-users

[2017-12-01 15:35] bryandidur opened #37 "Error on getting messages from a conversation."
SQLSTATE[42000]: Syntax error or access violation: 1064 You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '>'$.\"message_id\"' = `mc_messages`.`id` where `mc_messages`.`conversation_id` in ' at line 1 (SQL: select `notifications`.*, `mc_messages`.* from `mc_messages` inner join `notifications` on `notifications`.`d

[2017-12-01 15:40] musonza commented on #37
Hey @bryandidur, you will need at least MySQL 5.7 to support json columns in the laravel notifications table.

[2017-12-01 16:37] bryandidur commented on #37
Thank you. The problem was this.
Upgrading from MySQL 5.6 to 5.7 solved the problem, ;)

[2017-12-01 16:37] #37 closed

[2017-12-19 16:49] iamNikitaValty opened #38 "Compatibility problems with MYSQL 5.6"
Hi,
I installed this bundle in My Laravel project but I can’t stop having this error:
`SQLSTATE[42000]:` Syntax error or access violation: 1064 You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '>'$."message_id"' = `mc_messages`.`id` where `mc_messages`.`conversation_id` in ' at line 1 (SQL: select `notifications`.

[2017-12-19 17:12] musonza commented on #38
@iamNikitaValty yes MySQL version is the issue. You need at least MySQL 5.7. I need to add that in the requirements.
https://github.com/musonza/chat/issues/37

You could use an older version below but the api is slightly different.
https://github.com/musonza/chat/tree/1.0

[2017-12-19 19:26] #38 closed

[2017-12-21 09:44] iamNikitaValty commented on #38
Ok @musonza . ugh! So i will need to restart all this...

Thank you for your answer. I'll try doing it this way, or i'll find out how i can upgrade my Mysql ...

[2018-01-06 14:01] jayant1993 opened #39 "Getting SQL error"
Hi Musonza,

I am getting an sql error when I used the getMessages method.

my code ::

 public function chats()
    {
    		$currentuser = Auth::user();

    		$conversations = Chat::getConversationBetween($currentuser, 1);

    		$messages = Chat::conversations()->for($currentuser)->limit(25)->page(1)->get();

    		//return view('chats',['conversation' => $conversations, 'messages' => $messages

[2018-01-06 16:29] musonza commented on #39
What database and version are you using.

https://github.com/musonza/chat/issues/38

[2018-01-06 16:43] jayant1993 commented on #39
![screen shot 2018-01-06 at 10 12 46 pm](https://user-images.githubusercontent.com/7889708/34641750-c573dcac-f32e-11e7-85b3-6442dd98cb2d.png)

[2018-01-28 18:39] spmsupun opened #40 "Broadcasting ?"
Are you gonna implement broadcasting  ?

[2018-01-28 19:26] musonza commented on #40
@spmsupun I haven't planned on it. However, I will look into that. If you would like to submit a PR that's ok too.

[2018-01-29 05:38] spmsupun commented on #40
Okay, I'll give it a try

[2018-01-29 05:51] musonza commented on #40
Sounds good. Otherwise i may have it done end of the week. There are some updates i was thinking to work on.

[2018-01-29 10:20] spmsupun commented on #40
Is there any way to test the package before require to a laravel project ? Unit testing doesn't  seems working.

[2018-01-30 05:52] musonza commented on #40
Yes there is a way to test using orchestra

[code]

However, i have made updates and broadcasting works. Checkout the branch below and you should be able to run unit tests without a laravel project:

https://github.com/musonza/chat/tree/custom-notifications-broadcast

Run
`composer install`

`vendor/bin/phpunit`

I still need to test a few things as far sending the broadcasts to a que.

[2018-01-30 06:04] spmsupun commented on #40
funny, I was gonna use  testbench :)  okay I'm gonna check on that,
and other thing is in notification can you give user to add extra data ?
for example  current data looks like this:
`{"message_id":2,"conversation_id":4}`

but i want like this:
`{"message_id":2,"conversation_id":4,"some_name":"some_value"}`

otherwise I cannot identified each notification. it'll be conflict with mine.

[2018-01-30 06:13] musonza commented on #40
yes i'm adding some transformers for the data returned and also working on this to be more configurable.

[2018-01-30 06:14] spmsupun commented on #40
Ok thanks, tell me if you need any help

[2018-01-30 06:16] musonza commented on #40
Thanks will do

[2018-01-30 09:15] spmsupun opened #42 "Getting conversation and No. of unread messages"
How do i get conversations list from a user order by last updated, `Chat::commonConversations ` doesn't return eloquent instance. And is there a way to get No. of unread messages for a user ? or do we have do it by manually ?

[2018-01-30 16:39] JJS4ntos opened #43 "JSON_EXTRACT function error"
Hi, bro
I try to use your chat and i've a little problem.
`JSON_EXTRACT function error `

I know its because i'm using a mysql version without that function, but, have a solution about it?
I can't change the version of mysql, my production are in a shared host.

[2018-01-31 04:41] musonza commented on #42
conversations list

https://github.com/musonza/chat/issues/23

No. of unread messages for a user:
Let me verify this

[2018-01-31 05:49] musonza commented on #43
working on a solution here https://github.com/musonza/chat/tree/custom-notifications-broadcast

[2018-01-31 10:25] spmsupun commented on #39
@musonza  even in that branch i'm getting the same error

[2018-01-31 15:54] musonza commented on #39
Did you publish the new config file and set laravel_notifications to false? You also have to migrate the new table to be created

[2018-02-01 05:44] spmsupun commented on #39
I've set  `'laravel_notifications'`  to  `false` and now it's working, so we cannot use laravel notification on this branch ?

[2018-02-01 05:45] musonza commented on #39
You can use laravel notifications if your database supports json columns. Rather than having users use the older version i brought in the custom table i had in the first version so you can have an option

[2018-02-01 14:24] JJS4ntos commented on #43
![solution](https://user-images.githubusercontent.com/13887489/35683260-8908ccc0-074a-11e8-9189-8905c648005b.png)

Look that, not working...
In production the mysql version don't have that function, but it was used in development.

[2018-02-01 18:03] musonza commented on #43
is that config file published in your config files because it doesn't see like it's following the configuration. I still have to merge this in a few days so use that branch just for testing

[2018-02-02 06:50] musonza commented on #42
https://github.com/musonza/chat#unread-messages-count

[2018-02-02 06:50] #42 closed

[2018-02-02 06:51] musonza commented on #40
https://github.com/musonza/chat/releases/tag/v2.1.0

[2018-02-02 06:51] #40 closed

[2018-02-02 06:51] #39 closed

[2018-02-02 06:52] musonza commented on #43
https://github.com/musonza/chat/releases/tag/v2.1.0

[2018-02-02 06:52] #43 closed

[2018-02-05 12:04] spmsupun commented on #42
how do I sort messages by last updated date
` Chat::conversations($conversation)->for($user)->getMessages($perPage, $page)`
this return only first messages in a conversation, and its not return an elaquent instance

[2018-02-05 17:03] spmsupun commented on #42
nevermind, found a solution `Chat::conversation($id)->getMessages(\Auth::user(), 25, 1, 'desc')`

[2018-02-05 18:02] spmsupun opened #48 "How to get new messages ?"
for example if I'm in a conversation and last message id is 10 then there are new messages came and how i get the message(s) greater than 10.
and also there are no any function to get a one single message, and Message send function doesn't return the message that sent so i have to recall a function to get the last message.

[2018-02-06 02:03] musonza commented on #48
‘$conversation->last_message();’

[2018-02-06 05:03] musonza commented on #48
It does return the message you send `Musonza\Chat\Messages\Message`
<img width="484" alt="screen shot 2018-02-05 at 9 03 01 pm" src="https://user-images.githubusercontent.com/3452388/35842598-ffb841aa-0ab7-11e8-9dba-d8f7844eed41.png">

[2018-02-06 11:06] spmsupun commented on #48
so we have do it manually using 'Message' class as a model right ?

[2018-02-07 05:44] musonza commented on #48
@spmsupun https://github.com/musonza/chat/releases/tag/v2.1.1

[2018-02-07 05:44] #48 closed

[2018-02-10 13:21] Dronax opened #54 "System bot in chat"
Hello my friend! I have a question, if on site we have 2 users (admins), How I can create bot, which will respond to users by name these admins?

[2018-02-10 13:26] Dronax opened #55 "Real time chat"
Hello, How I can integrate this package with vue and pusher?

[2018-02-10 16:26] musonza commented on #55
Refer to this question: https://github.com/musonza/chat/issues/40

You need to set `broadcasts` to true in the Package config file

[code]

[2018-02-10 17:01] Dronax commented on #55
Thanks

[2018-02-10 17:06] #55 closed

[2018-02-10 17:25] Bobyuan1015 opened #56 "How to run the test"
C:\Users\bob\innermessage\blog\vendor\musonza\chat>phpunit

Fatal error: Class 'Musonza\Chat\Tests\TestCase' not found in C:\Users\bob\innermessage\blog\vendor\musonza\chat\tests\Unit\ChatTest.php on line 8

what's wrong one my testing running

[2018-02-10 19:34] musonza commented on #56
what version of the package do you have installed?

[2018-02-11 12:03] Dronax opened #57 "Attach file in conversation"
Hello, How I can attach file to conversation in message?

[2018-02-11 12:21] Dronax opened #58 "How I can get unread Messages?"
Hello, how I can get unread messages?

[2018-02-11 16:38] musonza commented on #57
You have to handle the uploads and specify the message type.
[send-a-message-of-custom-type](https://github.com/musonza/chat#send-a-message-of-custom-type)

Example:

The type can be anything you want like url, image, attachment. Anything that you will be able to translate on your UI side.

[code]

[2018-02-11 16:40] #57 closed

[2018-02-11 19:49] Dronax opened #59 "How I can get model participant of conversation?"
Hello, please help me get participant of conversation. Not currently authorized user, are participant conversation.

[2018-02-11 20:00] musonza commented on #59
Can you explain further? Not sure i understand.

[2018-02-12 00:14] #54 closed

[2018-02-12 06:20] Dronax commented on #59
I want get recipient of conversation. How I can get it?

[2018-02-12 06:52] musonza commented on #59
Assuming you have only 2 users and your id is `$my_id`
`
$recipient = $conversation->users()->where('user_id', '<>', $my_id)->first();
`

[2018-02-12 07:24] Dronax commented on #59
Please see my function, this correctly?

`    public function inbox() {
        $user = Auth::user();
        $conversations = Chat::commonConversations($user);
        //$LastMessages['partcipant'] = $conf->users[1];
        $LastMessages = [];
        $participant = [];

        foreach($conversations as $conf) {
            $LastMessages[] = Chat::conversations($conf)->for($user)->getMessages()

[2018-02-12 07:39] musonza commented on #59
You need to use this

[code]

This gives you a list of all the conversations for the `$user` alongside the most recent message. Just like your inbox.

[2018-02-12 07:46] Dronax commented on #59
Here's what I got: https://pastebin.com/fR7bPFD9 I can without loop get conversation messages and recepient?

[2018-02-13 05:40] jesephan opened #60 "Cannot use the Chat Facade"
Hello,

I'm using your package to create chat feature to my project.
I'm using Laravel 5.5 and I encounter issue when using the package chat facade.
Please check this [link](https://prnt.sc/idyx59) to see the error message.
Hope to hear your response/feedback about this issue.

Thanks

[2018-02-13 06:16] Dronax opened #61 "Use pagination for chat"
Hello, How I can use default pagination for chat messages, conversations?

Method `paginate` not working.

`$conversations = Chat::conversations()->for($user)->paginate(10);`

[2018-02-13 06:48] musonza commented on #60
Appears you are not using the Facade correctly.
[code]
change `use Musonza\Chat\Chat;` in your `MessageController` to `use Chat;`

[2018-02-13 06:56] musonza commented on #61
Please look at the Readme for the correct methods:

https://github.com/musonza/chat#get-recent-messages

$messages = Chat::conversations()->for($user)->limit(25)->page(1)->get();

You want to use the above because the code has to take into consideration if you are using laravel notifications table or a custom table.

Otherwise look at this function that's being used.

[code]

[2018-02-13 07:26] Dronax commented on #61
How then I can integrate my pagination?

[2018-02-13 07:38] musonza commented on #61
For getting messages in a specific conversation, this `Chat::conversations($conversation)->for($this->users[0])->getMessages($perPage, 4)` returns `Illuminate\Pagination\LengthAwarePaginator`.

If you omit `->get()` as below you also get `Illuminate\Pagination\LengthAwarePaginator`
`$messages = Chat::conversations()->for($user)->limit(25)->page(1);`

[2018-02-13 10:46] jesephan commented on #60
I checked your package.json file seems you are using auto discovery?

[2018-02-13 10:49] jesephan commented on #60
Okay thanks I thought no need for this when using laravel's package auto discovery.

[2018-02-13 10:49] #60 closed

[2018-02-13 15:50] Bobyuan1015 commented on #56
I give up running test code. just directly invoke the APi your offered, they works. Thanks

[2018-02-13 15:53] Bobyuan1015 opened #62 "attachment function? send message with several attachments"
Hello,

I am building a shopping site which can offer  a function customers can make conversation with staff from the company, One more requirement is attachment function

[2018-02-13 15:59] Dronax commented on #61
->page = ->paginate right?

[2018-02-13 17:59] Dronax commented on #61
This is not working:
`$messages = Chat::conversations()->for($user)->page(1);`

I get empty object.

[2018-02-13 18:48] musonza commented on #61
This will call `paginate(10)` for you. it just makes the code expressive.
`
$conversations = Chat::conversations()->for($user)->limit(10)->page(1);
`
Email me and i will help you further. Email is on my profile.

[2018-02-13 18:48] #61 closed

[2018-02-13 18:57] Dronax commented on #61
I get empty object.

Chat {#359 ▼
  #type: "text"
  #from: null
  #to: null
  #body: null
  #perPage: 1
  #page: 1
  +"conversation": Conversation {#357 ▼
    #table: "mc_conversations"
    #fillable: array:1 [▶]
    #casts: array:1 [▶]
    #prefix: "mc_"
    #connection: null
    #primaryKey: "id"
    #keyType: "int"
    +incrementing: true
    #with: []
    #withCount: []
    #perPage: 15
    +e

[2018-02-13 19:05] Dronax opened #63 "Pagination..."
I can't find mail on your profile..

Why pagination working only by request? Why I can't use pagination blade?

`    public function inbox(Request $request) {
        $user = Auth::user();
        //$conversations = Chat::commonConversations($user);
        //$LastMessages['partcipant'] = $conf->users[1];
        $conversations = Chat::conversations()->for($user)->limit(1)->page($request->get('pag

[2018-02-14 04:10] musonza commented on #63
The email should be available now

[2018-02-14 04:10] #56 closed

[2018-02-14 05:45] Dronax commented on #63
Ok. I sended mail.

[2018-02-14 06:18] musonza commented on #63
The other comment was a bit incorrect. Form the package this returns a paginator
[code]

[2018-02-14 06:23] Dronax commented on #63
But where I can get $page variable? Only by `$request->get('page')`?

[2018-02-14 06:28] musonza commented on #63
Page is the page number, 1,2,3...So you can send that in the request yes.
You can start by passing 1 then you track what next page to request for
next page.

On Tue, Feb 13, 2018 at 10:23 PM, Dronax <notifications@github.com> wrote:

[2018-02-15 16:50] vivdub opened #64 "Some issue while getting messages."
Hi,
I am using the following to fetch messages:
Chat::conversations($conversation)->for($user)->getMessages($perPage, $page)

But it throws an error.
Syntax error or access violation: 1064 You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near '&gt;'$.&quot;message_id&quot;' = `mc_messages`.`id` where `mc_messages`.`c

[2018-02-15 17:33] musonza commented on #64
Your db doesn’t support json columns so in the package config file set laravel_notifications to false. However, if you have messages already the unread count and state will be off

[2018-02-16 06:33] vivdub commented on #64
Thanks, I will check.

[2018-02-17 03:43] jesephan opened #65 "Display Inbox messages"
Hi,

I'm using your package to add messaging feature to my project. In the messaging feature there is
a user inbox that lists all conversations I had with other users. My problem I want to display the number
of my unread messages per conversation upon viewing the inbox just like when you view your phones inbox where it displays unread messages count per conversation. Is it possible or is there any

[2018-02-18 13:04] Dronax opened #66 "Remove conversation?"
Hello, How I can remove conversation and all messages in these?

[2018-02-18 16:31] musonza commented on #66
https://github.com/musonza/chat/blob/master/README.md#remove-users-from-a-conversation

[2018-02-18 16:32] musonza commented on #66
To just delete messages and stay in conversations:
https://github.com/musonza/chat/blob/master/README.md#clear-a-conversation

[2018-02-18 16:34] Dronax opened #67 "MessageWasSent event not working"
#66
Hello, I have:

`Broadcast::channel('mc-chat-conversation.{conversation_id}', function($user) {
    return $user;
});`

App.js:

`
mounted() {
        Echo.private('mc-chat-conversation.' + this.convId)
            .listen('MessageWasSent', (e) => {
                console.log(e);
                this.chat.message.push(e.message);
                this.chat.user.push(e.user);
                th

[2018-02-18 16:36] Dronax commented on #66
Thanks!

[2018-02-18 16:45] musonza commented on #67
You don’t have to do the broadcast yourself. Just set the broadcast option in the config to true.

[2018-02-18 16:49] Dronax commented on #67
/**
     * This will allow you to broadcast an event when a message is sent
     * Example:
     * Channel: private-mc-chat-conversation.2,
     * Event: Musonza\Chat\Messages\MessageWasSent
     */
    'broadcasts'            => true,

I have this

[2018-02-18 17:00] Dronax commented on #67
Not working this:

        Echo.private('mc-chat-conversation.' + this.convId)
            .listen('MessageWasSent', (e) => {

[2018-02-18 17:29] musonza commented on #67
[code]
You need the fully qualified name for `MessageWasSent` like `Musonza\Chat\Messages\MessageWasSent`

[2018-02-18 17:41] musonza commented on #62
You have to handle attachments on your end and store the links etc as that's out of the scope of the package. Then you can specify the message type https://github.com/musonza/chat#send-a-message-of-custom-type so you can

[2018-02-18 17:41] #62 closed

[2018-02-18 17:41] #64 closed

[2018-02-18 17:53] Dronax commented on #67
Not working :(((

[2018-02-18 18:01] Dronax commented on #67
Working. Sorry. But how I can get recipient?

[2018-02-19 12:15] harikarank opened #68 "When i get message list from user showing error."
![image](https://user-images.githubusercontent.com/8309169/36377230-5a5b4f40-15b1-11e8-9e66-9bfdc3f137a3.png)
![image](https://user-images.githubusercontent.com/8309169/36377247-6b1b2be8-15b1-11e8-9e7e-1dd0736abe2e.png)
![image](https://user-images.githubusercontent.com/8309169/36377259-75fda1a8-15b1-11e8-9f24-6762a92ddd9e.png)
![image](https://user-images.githubusercontent.com/8309169/36377267-7e

[2018-02-19 14:51] #68 closed

[2018-02-19 14:53] harikarank opened #69 "GetMessage in Descending order"
Hi
How can in get count no of total messages?

Help to update the below function for to getMessages in Descending order
musonza\chat\src\Chat.php
![image](https://user-images.githubusercontent.com/8309169/36383581-892f32e4-15c7-11e8-88a1-4c3e9c408774.png)

So i can call this like
$msgs =Chat::conversations($conversation)->for($user)->getMessages(10,1,'desc');

[2018-02-20 00:05] musonza commented on #69
That should return `LengthAwarePaginator` Try to dump the result from that function and see if you get the total.

[2018-02-21 06:38] Dronax opened #70 "Mark message is read function"
I have function:

    public function setMessagesSeen(Conversation $conversation, Request $request) {
    $v = Validator::make($request->all(), [
        'message' => 'required|string|max:4000',
    ]);

    $user = User::find(Auth::id());

    $conversations = Chat::conversation($conversation->id);

    //$message = Chat::conversations($conversations)->for($user)->getMessages()->where('body', $re

[2018-02-21 07:14] musonza commented on #70
https://github.com/musonza/chat#mark-a-message-as-read
[code]

[2018-02-21 16:22] musonza commented on #70
Pass the message id to your controller from `this.message` then on the server use this to get the `message` model:
https://github.com/musonza/chat#get-a-message-by-id

[2018-02-21 18:31] Dronax commented on #70
Message id how I can get?

[2018-02-21 18:56] musonza commented on #70
this depends on how you setup your application. You should keep track of that from your messages list etc

[2018-02-21 19:09] Dronax commented on #70
I don't have id message in my app

[2018-02-21 20:28] musonza commented on #70
All messages returned from the methods listed in the README will have ids.

[2018-02-21 20:28] #70 closed

[2018-02-21 20:29] #66 closed

[2018-02-22 12:04] Dronax commented on #58
???? @musonza

[2018-03-03 07:35] Dronax opened #72 "Check if message is read?"
Hello, how I can check if message is read? In controller I send model of message, but how check if message read or not?

[2018-03-10 15:12] Dronax opened #73 "I cleared conversation and how.."
Hello, I cleared conversation. But how I can check if conversation is cleared? I need add column cleared to mysql?

[2018-03-10 16:43] musonza commented on #73
No need to add a column. When you clear a conversation you delete messages up to that point so just check if you have no messages.
https://github.com/musonza/chat/blob/master/README.md#get-messages-in-a-conversation

[2018-03-10 16:43] #73 closed

[2018-03-10 16:43] #69 closed

[2018-03-10 16:48] musonza commented on #72
$message->getNotification($user)->read_at;

If the message is unread the above will be null

Also check the tests file it has some of the functionality you would find useful

[2018-03-10 16:48] #72 closed

[2018-03-10 19:38] Dronax opened #74 "Conversation clear"
I get a non object on conversations, when click on conversation with people. Why??

[code]
This remove only my messages from conversation.
When I go to conversation with participant, I get error:

`Trying to get property of non-object`

In my blade

[code]

Controller:

[code]

I need remove dialog for user. But how I can check this?

I get messages in dialog with:

[code]

[2018-03-10 20:57] musonza commented on #74
If you want you can share the code with me because it seems you are having a lot of issues with implementing this.

[2018-03-11 03:57] Dronax commented on #74
I need fix error: https://github.com/Dronax/message see my project

[2018-03-11 04:25] musonza commented on #74
the project is missing some files like composer.json so i can't debug it
easily

On Sat, Mar 10, 2018 at 7:57 PM, Dronax <notifications@github.com> wrote:

[2018-03-11 08:50] Dronax commented on #74
@musonza this:

`$conversations = Chat::conversations()->for($user)->limit(15)->page($request->page)->get();`

write dialogs, where conversation deleted for user.

[2018-03-16 20:16] gergo2007 opened #75 "Compatibility issue with mariadb"
Hi

Im getting the fol;owing error:

SQLSTATE[42000]: Syntax error or access violation: 1064 You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near '>'$."message_id"' = `mc_messages`.`id` where `mc_messages`.`conversation_id` = ?' at line 1 (SQL: select count(*) as aggregate from `mc_messages` inner join `notification

[2018-03-16 22:00] musonza commented on #75
In the config file make this update `'laravel_notifications' => false`,

[2018-03-16 22:39] gergo2007 commented on #75
Thanks, works!

[2018-03-16 22:39] #75 closed

[2018-03-16 22:55] gergo2007 opened #76 "Order messages"
How can i order the messages?
Or can i somehow only get the last N messages?

Also i have:
Chat::conversations()->for(\Auth::user())->limit(25)->page(1)->get();

How can i get the other users name in the conversation?

Thanks

[2018-03-18 12:38] Dronax opened #77 "Event not broadcasting now.."
Hello, Event MessageWasSent not broadcasting, I use:

`$message = Chat::message($request->message)
            ->from($user)
            ->to($conv)
            ->send();`

In config broadcasting sets to true.
My other events broadcast, but event MessageWasSent not.
Fix please!!

[2018-03-18 15:56] musonza commented on #77
Are you checking for the fully qualified name Musonza\Chat\MessageWasSent

[2018-03-20 22:39] twisterys opened #78 "Undefined constant 'Musonza\Chat\ChatServiceProvider' on Laravel 5.5"

[2018-04-21 09:20] AttilaSzendi opened #79 "Soft delete"
Is there any plans for the future to use soft deletes. I think it is a must have in this kind of feature.

[2018-04-23 17:30] matthewborgcarr commented on #59
Hello, this is an awesome package.

I need to know how I can get all the messages the user is participating in?

Thanks
Matthew

[2018-04-23 17:58] matthewborgcarr commented on #59
In more detail to my question above, I am creating an application where it displays a list of conversations (with the conversation_id, the sender, the receipient and the last message in the conversation).

Then using the selected conversation_id I get all the messages within that particular conversation.

How can I achieve this?

Thanks
Matthew

[2018-05-02 19:50] AEK-BKF opened #80 "Chat::getConversationBetween returns always null"
Hi,
I'm using `Laravel 5.6.20`, `PHP 7.2.4`
I'm trying to get getConversationBetween between Auth and other user:
`dd(Chat::getConversationBetween(Auth::id(),$request->id));`
But it returns always null, even I have created conversation between them :
`$conversation = Chat::createConversation([$request->id]); `

Regards

[2018-05-21 09:01] exzib opened #81 "Any demo?"
Is there any demo available?

[2018-05-23 13:07] exzib opened #82 "Possibility to get unread messages per Conversation"
So for example

$conversation->unreadMessages->for(USER), rather than getting their total unread messages.

[2018-05-23 13:16] exzib commented on #82
Fixed this myself by adding this function to Conversation.php

`     public function unreadNotifications($user)
     {
       $notifications = MessageNotification::where([['user_id', '=', $user->id], ['conversation_id', '=', $this->id], ['is_seen', '=', 0]])->get();

       return $notifications;
     }`

[2018-05-23 14:53] musonza commented on #82
Sounds good. Do you mind making a PR so I can add that update?

[2018-05-28 18:38] mirzazulfan opened #83 "Propose Logo/Icon"
Hi @musonza ,, I'm graphic disigner. I would like to know if you are interested that I make a logo for your project? If you allowed me, i"ll make logo for your project.

[2018-05-28 19:20] musonza commented on #83
Hi, sure you can. Thanks

[2018-05-28 20:02] mirzazulfan commented on #83
Hi @musonza ,  I've designed a logo for your project. If you like it, you can use it. it's free. I'll send you files and pr. If you need anything change, let me know. Thanks
![chat](https://user-images.githubusercontent.com/36124339/40628010-93f30d28-62ec-11e8-8ec2-35f24eba3253.png)

[2018-05-28 20:07] musonza commented on #83
Nice, looks great, you can create the PR with the blue logo as is at the bottom

[2018-05-28 20:35] mirzazulfan commented on #83
Hi @musonza .. i've created a pr #84 please check. you can download all files (.SVG .PDF .PNG) here
[Drive](https://drive.google.com/drive/folders/1EpXA5UGqFGC6eHuOdsZG67-mAIhdwuAz)
thanks..

[2018-05-28 20:58] #83 closed

[2018-05-28 21:01] musonza commented on #83
Thanks

[2018-05-28 21:33] #82 closed

[2018-05-28 21:53] #58 closed

[2018-05-30 08:55] MrDarkSkil commented on #78
You need to reflect a little :)
Add `::class`

So like this
`
Musonza\Chat\ChatServiceProvider::class,
`

[2018-05-30 14:12] MrDarkSkil commented on #78
@musonza you can close this issue 😃

[2018-05-30 14:29] #78 closed

[2018-05-31 07:03] musonza commented on #79
yes working on that

[2018-06-02 22:12] musonza commented on #79
https://github.com/musonza/chat/blob/5e04b33f7195a9ffe939d1267a01641b119d5e19/tests/Unit/MessageTest.php#L101

[2018-06-02 22:12] #79 closed

[2018-06-02 22:14] #74 closed

[2018-06-02 22:14] #63 closed

[2018-06-02 22:15] musonza commented on #76
https://github.com/musonza/chat/blob/master/tests/Unit/PaginationTest.php

[2018-06-02 22:15] #76 closed

[2018-06-02 22:43] #77 closed

[2018-06-02 22:45] musonza commented on #80
Could be you are passing same user_ids

[2018-06-02 22:45] #80 closed

[2018-06-04 05:41] caiokawasaki opened #90 "Class 'Chat' not found"
I'm trying to implement this package in my application but I'm having problems.

I already added the Providers in the `config/app.php` file and even then the framework does not find the class.

[code]

Am I forgetting to do something?

I'm using Laravel version 5.6.*

[2018-06-04 05:47] #90 closed

[2018-06-05 05:27] caiokawasaki opened #91 "Count all conversations with notifications"
How can I count all conversations with notifications?

On my homepage I will show all conversations, but in a specific place I want to show the number of conversations with notifications (Conversations that have not yet been read).

[2018-06-05 05:37] musonza commented on #91
https://github.com/musonza/chat#get-recent-messages

This returns a list of conversations with the most recent message which has `is_seen` that you can use to see if there is at least an unread message. Let me know if that works

[2018-06-05 12:24] axe1987 opened #92 "PHPUnit tests failing"
Hello,
first of all, nice plugin 👍

But when using laravel dusk the phpunit tests for your chat plugin fail.
The message is that the class Eloquent can't be found in your file chat/src/Model.php.

I think the problem could be easily solved if you use `\Illuminate\Database\Eloquent\Model` to extend the model class, instead of an laravel alias.

Greets axe

[2018-06-05 15:13] musonza commented on #92
Yeah that’s right, thanks. You can create a PR or I will update when I have time

Sent from my iPhone

[2018-06-05 19:07] musonza commented on #91
I will make updates as that may not be accurate because of pagination.

Sent from my iPhone

[2018-06-17 19:16] axe1987 commented on #92
I would like to commit my branch with the changes discussed above. But I can't seem to be able to push it.
Since I usually use gitlab, I might just not know how the pull requests work. Or I need rights for this :)

Please explain^^

[2018-06-17 20:06] musonza commented on #92
Create a fork of `https://github.com/musonza/chat`, push your changes there and create a pull request from those changes.

[2018-06-22 15:32] #92 closed

[2018-06-28 13:03] axe1987 opened #94 "Getting latest messages"
Hi,

how would you get the latest messages of the current conversation?
Let's say I only want to load the last 10 messages (last by created_at). And then I want a Ajax call to (the same or another action in the controller) to load the next 10 items of the conversation.
 Furthermore I always want the latest message at the beginning of the collection/pagination.

Can you give me a hint  how your plu

[2018-07-04 04:36] caiokawasaki opened #96 "How to deal with soft deleted users?"
I've implemented this package in my application, and I use some viewComposers. I was testing today and noticed that the entire application crash for not finding deleted users. How should I correct this?

Here is a example:
[code]

Error: Call to a member function toArray() on null (View: /Users/caiokawasaki/www/ecco/resources/views/admin/layouts/master.blade.php) (View: /Users/caiokawasaki/www/ecc

[2018-07-04 05:38] musonza commented on #96
Can you try `$conversation->users->withTrashed()` to get the deleted users as well

[2018-07-04 14:28] caiokawasaki commented on #96
Just get this error:
Method Illuminate\Database\Eloquent\Collection::withTrashed does not exist. (View: /Users/caiokawasaki/www/ecco/resources/views/admin/layouts/master.blade.php) (View: /Users/caiokawasaki/www/ecco/resources/views/admin/layouts/master.blade.php)

[2018-07-04 17:09] musonza commented on #96
oh for relationship it's  missing parenthesis `$conversation->users()->withTrashed()`

[2018-07-04 19:28] #96 closed

[2018-07-05 19:28] paschaldev opened #97 "No way to retrive messages for all participants."
@musonza  I found out the `Get Recent Messages` logic only returns data for the intended receiver and is empty for the sender.

How do one retrieve message for individual users, sent or receive like we have on Facebook and other messaging site?

Specifically, how do you retrieve the last message sent for either a sender or a receiver?

[2018-07-09 08:30] anurak-kg commented on #67
// channels.php
Broadcast::channel('mc-chat-conversation.{id}', function ($user, $id) {
    $userConversion = ConversationUser::where('user_id', $user->id)
        ->where('conversation_id', $id)
        ->first();
    return !is_null($userConversion);
});

js file
 let chanel = 'mc-chat-conversation.' + this.conversationId.toString();
      Echo.private(chanel)
      .listen('\\Musonza\\Chat\\Eve

[2018-07-11 23:21] ofumbi opened #98 "We need sender info in the pusher array"
[code]
Add the line  $message->load('sender');

[2018-07-11 23:33] musonza commented on #98
Ok I will look at it when I get a chance. Otherwise feel free to make a PR. Thanks

[2018-07-17 04:31] cjxonix opened #99 "(errno: 150 "Foreign key constraint is incorrectly formed") on Migration"
SQLSTATE[HY000]: General error: 1005 Can't create table `vendors_db`.`#sql-122d4_2df` (errno: 150 "Foreign key constraint is incorrectly formed") (SQL: alter table `mc_messages` add
  constraint `mc_messages_user_id_foreign` foreign key (`user_id`) references `users` (`id`))

In Connection.php line 449:

  SQLSTATE[HY000]: General error: 1005 Can't create table `vendors_db`.`#sql-122d4_2df` (errno

[2018-07-17 05:18] musonza commented on #99
Did you modify the default `id` length or type for your users table. This could be due to the foreign key and respective `id` of the users table not being the same type. You can modify the published migrations to make sure they match

[2018-07-18 01:16] cjxonix commented on #99
My table is [user_id | int(10) | UNSIGNED] and my users table is [id | int(10) | UNSIGNED ] so i don't think its the data type issue.

When i delete all tables and run the migration, it works but when there is data it does not work it brings the above error message.

[2018-07-18 06:42] musonza commented on #99
I don't understand running the migrations while you already have data. You mean data in `users` table?

[2018-08-28 14:51] musmangeee opened #100 "can you please do a video tutorial from scratch, how to implement musonza/chat?"
If you have time then can you please do a video tutorial from scratch on how to implement musonza/chat in laravel?

[2018-09-13 08:14] MostafaNobaghi commented on #65
My question too

[2018-09-13 21:13] musonza commented on #65
will take a look

[2018-09-14 07:34] renege opened #103 "Broadcasting not working"
I cant figure out how to get broadcasting to work, could you explain?

[2018-09-15 12:32] MostafaNobaghi commented on #65
the way i hndled

extend new model from base model in vendor and set relation to users

`namespace App\Models;

class Conversation extends \Musonza\Chat\Models\Conversation
{
`

then in my User model set relation to Conversation like this

` /**
     * this user conversations
     * @return \Illuminate\Database\Eloquent\Relations\BelongsToMany
     */
    public function conversations()
    {

[2018-09-15 15:02] MostafaNobaghi opened #104 "get private conversations with title"
is there a way to get private conversation with title (name of other user)

[2018-09-15 19:43] musonza commented on #104
Can you use `$conversation->users()` ? or you want to have that when you get a list of conversations?

[2018-09-15 23:40] MostafaNobaghi commented on #104
I want it When get conversations list,

On Sun, 16 Sep 2018 00:13 Tinashe Musonza, <notifications@github.com> wrote:

[2018-09-15 23:42] MostafaNobaghi commented on #104
Want it when get list of conversatons

On Sun, 16 Sep 2018 00:13 Tinashe Musonza, <notifications@github.com> wrote:

[2018-09-25 11:31] temwa opened #105 "How Is The Frontend Implemented"
The focus seems to be in the backend. How is the frontend that actually displays the messages implemented. Is that part of the package or I have to design my own?

[2018-09-25 12:03] dzatona opened #106 "Non-static method 'createConversation' should not be called statically"
Any pieces of advice?

![Screenshot](https://msk-ix.s3.amazonaws.com/o4lv8.png)

[2018-09-25 16:02] musonza commented on #106
Did you import `chat` at the top `use Musonza\Chat\Chat` at the top? or if you have the facade set you can import as `use Chat`

[2018-09-25 16:04] #106 closed

[2018-09-25 16:06] musonza commented on #105
At the moment you would've to implement your own. I haven't had the time to add optional views to the package.

[2018-10-02 12:00] renege commented on #103
@musonza  ??

[2018-10-03 13:22] moon759 commented on #105
Dear Please add one blade in package for laravel beginners , so that we can use ur package.
And Thanks for your efforts

[2018-10-11 13:03] fokoz commented on #104
@musonza I think he has meant that he want the name of another user in conversation(1:1 chat) in conversation list. Right now, I have the same problem as him because in chat list screen the conversation is listed by participant's name and profile image and latest message. The sender name in latest message cannot be used because if the user him/herself is the latest sender.

[2018-10-16 21:56] mohfrea commented on #65
hello
I have faced the same issue when Loading the inbox data so I wrote a sql query to look like this :

`SELECT a.user_id,a.conversation_id,users.name,users.last_name,(SELECT mc_messages.body FROM mc_messages where mc_messages.conversation_id = a.conversation_id ORDER BY mc_messages.id DESC LIMIT 1)AS latest_message,(SELECT mc_messages.updated_at FROM mc_messages where mc_messages.conversation_i

[2018-10-18 15:44] EfosaSO commented on #94
@axe1987 here's a hack for you. In `vendors/musonza/chat/src/Traits` change the `getConversationMessages` method to this:

`$total = $paginationParams['pageName'] - $paginationParams['perPage'] + 1;
        $messages = $this->messages()
            ->join('mc_message_notification', 'mc_message_notification.message_id', '=', 'mc_messages.id')
            ->where('mc_message_notification.user_id', $

[2018-10-18 17:03] fokoz opened #107 "[Message] unreadCount should query for more condition"
`unreadCount()` should query with `->whereNull('delete_at')` because if he/she has deleted a message, then he/she will never see the message again. It is impossible to see a message when it has been deleted.

[2018-10-18 17:05] musonza commented on #107
Hey, I will check the issues out. Do you mind making a PR? Thanks

[2018-10-20 10:33] JonathanPort opened #108 "Q: Can we create conversations on more than one User model?"
I have two types of Users, Users and Orgs. In my chat room I would like both types of users to be able to create conversations with each other. So for example an Org can start a convo with another Org and a User can start a conversation with an Org. Is this possible? I see in the config you can select the user model. Does this work with Laravels default guards?

[2018-10-22 12:14] JonathanPort opened #109 "Error On User Model delete - Integrity constraint Violation"
SQLSTATE[23000]: Integrity constraint violation: 1451 Cannot delete or update a parent row: a foreign key constraint fails (`my-database`.`mc_messages`, CONSTRAINT `mc_messages_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)) (SQL: delete from `users` where `id` = 39)

[2018-10-24 10:03] fokoz opened #110 "[Message] read_at should be the participant's read_at"
`read_at` seems like to be the sender's read time, it is useless because we want to know if the reader has seen or not.

[2018-10-24 13:29] Jaspur opened #111 "Broadcasting can't listen to the MessageWasSent Event"
Hi,
Is there a more clear example of how to Broadcasting should be configured?
All messages are pushed correctly to Pusher, but I can't Listen for it. It's returning 403's on /broadcasting/auth.
@musonza

[2018-10-24 14:23] musonza commented on #110
Can you share your piece of code rather than saying it’s useless? I can only tell of the issue if I see your implementation.

[2018-10-24 14:31] musonza commented on #111
403 sounds like a permission issue and not an issue with package. Can you show the code where you are listening for anyways.

[2018-10-24 14:33] Jaspur commented on #111
I fixed the 403, but still not getting the Messages:

[code]

And this in ```routes/channels.php```:

[code]

[2018-10-24 14:39] musonza commented on #111
You need the fully qualified name for MessageWasSent like `Musonza\Chat\Messages\MessageWasSent` not just `MessageWasSent`
https://github.com/musonza/chat/issues/67

[2018-10-24 14:43] Jaspur commented on #111
@musonza doesn't work either:

[code]

[2018-10-24 16:00] fokoz commented on #110
In the master:

`'mc_message_notification.updated_at as read_at',   `

is quite not usable.

So, I have extended `Message` model from yours:

[code]
When get messages, it should be used like this:
`Message::withCount('readParticipants as read')`

So we can check read count(if 1:1 chat and read=2, it means that another participant have already read)and show in the client side.

[2018-10-24 16:16] musonza commented on #110
Why not use the functions i have in the readme? These tests also have examples https://github.com/musonza/chat/tree/master/tests/Unit

If you write your code that way you also would need to  pass in the $user in your query if you want a different user.
https://github.com/musonza/chat/blob/77bdf9aea7b7d78680b5412c84cf8591be83de62/src/Models/Message.php#L96

[2018-10-24 17:35] Jaspur commented on #67
@Dronax figured out how to do it? cc #111

[2018-12-09 00:38] martinsk09 opened #113 "How do i use this package"
I have successfully installed the package and I completely have no idea on how to get it to work. Kindly assist me on this

[2018-12-09 00:39] musonza commented on #113
hello, did you try to follow some instructions in the readme?

[2018-12-09 20:05] martinsk09 commented on #113
[code]

[2018-12-09 20:06] martinsk09 commented on #113
Thanks for your response
it seems to have an issue with line 69

[2018-12-09 21:09] musonza commented on #113
Yes i know, but i would like to see your code snippet and i will show you the mistake or change you need.

[2018-12-11 04:00] musonza commented on #103
Closing, track this here https://github.com/musonza/chat/issues/111. I will test and fix

[2018-12-11 04:00] #103 closed

[2018-12-12 18:37] musonza commented on #111
See https://laravel.com/docs/5.7/broadcasting#namespaces

[2018-12-12 18:37] #111 closed

[2018-12-12 18:38] #67 closed

[2018-12-14 03:59] musonza commented on #98
https://github.com/musonza/chat/releases/tag/v3.1.0

[2018-12-14 03:59] #98 closed

[2018-12-14 19:11] musonza commented on #59
[code]
https://github.com/musonza/chat-demo/blob/62e39992070b3a63053c43ad4e9a3191cd709d6d/app/Http/Controllers/ConversationController.php#L53

[2018-12-14 19:11] #59 closed

[2018-12-14 19:12] #94 closed

[2018-12-14 21:52] JonathanPort commented on #109
Thanks for the update @musonza 👍🏼

If you're looking for a PHP dev to help out with anything, even the smallest task, I'm happy to help! I want to gain some experience working along side other devs with packages like this and would be proud to contribute.

Email me hello@jonathanport.com if you need anything!

Cheers,
Jon

[2018-12-14 22:08] musonza commented on #109
If you want to look at this https://github.com/musonza/groups . Haven't updated it in a while and it can use some improvements

[2018-12-15 00:11] JonathanPort commented on #109
Yeah @musonza Will do! I'll have look through it. Do you have Twitter or an email address we can chat with? (Email me the details if you don't want to publicly share)

[2018-12-15 00:13] musonza commented on #109
yes i sent you an email to that email above before my last comment.

[2018-12-17 01:56] musonza commented on #108
At the moment it doesn't work that way

[2018-12-17 01:56] #108 closed

[2018-12-17 01:56] #99 closed

[2018-12-17 01:57] #110 closed

[2019-01-03 22:43] jonaspoelmans commented on #106
I have the same issue. I imported the class at the top of the page as you mentioned. Any other issue that might be causing this?

I have now solved it as follows but not sure if this is ok?
`$chat=App::make('chat');
$participants=[1,2];
$conversation=$chat->createConversation($participants);
`

[2019-01-03 22:57] musonza commented on #106
@jonaspoelmans You can import the facade as follows:
[code]
If you have package discovery disabled you would need to add the facade `Chat` to `config/app.php`

[2019-01-03 23:14] jonaspoelmans commented on #106
That works! Thanks for the very quick answer!

[2019-01-04 17:17] jonaspoelmans opened #116 "Realtime chat implementation"
I managed to install the library, I however noticed your demo application is using Vue at the frontend which I am not allowed to use. Do you have a basic outline on how to use your component with JQuery, AJAX?

For broadcasting you use Pusher, is it possible to use a different broadcasting system, e.g. using Ratchet which we can host ourselves?

Would appreciate your feedback!

[2019-01-04 17:22] musonza commented on #116
Any `BROADCAST_DRIVER` supported by laravel you should be able to get it to work.

[2019-01-18 09:24] pmochine opened #118 "last_messages gives always the first found mc_message_notification back"
Hey, first of all, thank you for this beautifully written package! I love how you code!

However, I have found an error that I'm trying to fix with a pull (let's see if I can fix it haha).

To show you my bugs, I have written two easy tests:

	/** @test */
	public function no_inbox_is_loaded_when_messages_is_deleted_by_authenticed_user()
	{
		$this->deleteMessage(1) //id of 1
	         ->assertSta

[2019-01-18 10:00] pmochine commented on #118
First small update:

I translated the failed tests from my examples in your `ConversationTest.php`:

    /** @test */
    public function it_returns_last_message_as_null_when_the_very_last_message_was_deleted()
    {
        $conversation = Chat::createConversation([$this->users[0]->id, $this->users[1]->id]);
        $message = Chat::message('Hello & Bye')->from($this->users[0])->to($conversation)

[2019-01-18 10:34] pmochine commented on #118
I opened a pull request :)

Please have a look.

[2019-01-18 12:13] musonza commented on #118
Thanks for the detailed feedback and your help. I will take a look.

[2019-01-18 13:54] #118 closed

[2019-01-18 17:30] pmochine commented on #118
@musonza thank you :)

[2019-01-18 17:57] JonathanPort opened #120 "Private/Public Conversations"
Hi

A client has asked whether we can now have two type of chat rooms.. 😅 So after building the current private chatroom around musonzachat, I now have to make the same but a room that can be publicly accessible. Obviously I want to keep using this library but I need a way to pull conversations based on 'private' column.

I tried using Eloquents default ->where('private', true) but that doesn't wo

[2019-01-18 23:36] musonza commented on #120
Hey, sure i will work on a PR for that this weekend

[2019-01-19 01:52] JonathanPort commented on #120
Hey thanks so much!

[2019-01-19 02:12] #120 closed

[2019-01-19 02:14] JonathanPort commented on #120
Hey man @musonza , just saw you pushed this to master you legend! Thanks so much for that. Think I mentioned before about helping out around some of your repos, as soon as I have spare time on the weekends, i'll defo give you a shout! Thanks again, much appreciated ❤️

[2019-01-19 02:18] musonza commented on #120
No problem. Yes just make sure to republish your config and adjust this value accordingly https://github.com/musonza/chat/blob/71e846f63432e6903d9aceb3f6975e693015e930/config/musonza_chat.php#L23
Otherwise, it will keep the default behavior of classifying conversations of 3 or more people public

[2019-01-19 20:57] JonathanPort opened #122 "Using 'isPrivate(true)' Method with 'getById' method still returns the public model"
Hi thanks again for the work yesterday just one issue I've spotted,

Doing:

$conversations = Chat::conversations()
                             ->for(Auth::user())
                             ->isPrivate()
                             ->get();

only returns the private convos. But doing:

$conversations = Chat::conversations()
                             ->for(Auth::user())

[2019-01-21 00:48] musonza commented on #122
I don't see the use case when you are already specifying the `id`. If you are already going to do the query why not just check the result if it's private or public?

[2019-01-21 16:14] JonathanPort commented on #122
In my case it's when i'm in the private chat room and I go to 'public-chat-room/convo/{id}', that will still show the private room and vice versa for 'private-chat-room'. It won't be a big deal in the controller for me to grab the id, manually find the convo record and abort(404) if not private but having the isPrivate() method on ->getById($id) is really handy.

Just to clarify, the isPrivate() m

[2019-01-22 23:13] pmochine opened #123 "Added an extra orderBy in getConversationsList to fix a small order issue"
Hey Tinashe!

Sorry for creating another small issue, but I opened another pull request for you to see/check.

I had this test issue, that the order of the last_message was not correct.

You can check this with this test:

    /** @test */
    public function it_returns_the_correct_order_of_conversations_when_updated_at_is_duplicated()
    {
        $auth = $this->users[0];

        $conversation

[2019-01-23 01:46] musonza commented on #123
No worries, thanks for your help :)

[2019-01-23 01:53] musonza commented on #123
https://github.com/musonza/chat/releases/tag/v3.2.2

[2019-01-23 01:53] #123 closed

[2019-02-21 14:14] pshenichniyinfo commented on #106
I have the same problem, the methods above did not help

[2019-02-21 14:15] pshenichniyinfo opened #125 "I have the same problem, the methods above did not help"
I have the same problem, the methods above did not help

_Originally posted by @pshenichniyinfo in https://github.com/musonza/chat/issues/106#issuecomment-466014447_

[2019-03-02 16:01] #125 closed

[2019-03-05 09:05] zek opened #127 "Sorting conversations by last message"
[code]

I am able to get conversation list like this but I need to sort conversations by last sent message.

Is there any proper way to do this?

[2019-03-05 14:03] musonza commented on #127
I will look at that. In the meantime you could use the fact that when a message is sent a conversation is updated https://github.com/musonza/chat/blob/03ac9e2a33d3d516483bfca4607083056cd46926/src/Models/Conversation.php#L304

[2019-03-05 19:31] c-fitzmaurice opened #128 "Facade Not Found"
I installed the package, placed the Alias and ServiceProvider in `config/app.php` and I am getting the following error.

`Class 'Musonza\Chat\Facades\ChatFacade::class' not found`

This is happening in the browser and PHPUnit tests when using a method on the `Chat` facade.

[2019-03-06 17:49] Hirbod commented on #128
I have the same issue here, was searching the issues hoping to find a solution. @musonza any thoughts what might be wrong? I followed your demo and your README but I don't know what might have been wrong

[2019-03-06 17:50] Hirbod commented on #90
@caiokawasaki as you have been closing this thread, could you tell us how did you manage to fix this?

[2019-03-06 17:55] musonza commented on #128
What version do you have installed?

[2019-03-06 17:56] Hirbod commented on #128
@musonza sorry, was about to edit my post. I am using Laravel 5.7 and "musonza/chat": "^3.2",

[2019-03-06 17:58] musonza commented on #128
are you using auto discovery or you added 'Chat' => Musonza\Chat\Facades\ChatFacade::class to your `config\app.php`

[2019-03-06 17:59] Hirbod commented on #128
I've added 'Chat' => Musonza\Chat\Facades\ChatFacade::class, not sure if I am using auto discovery. I am pretty new into Laravel

[2019-03-06 18:00] Hirbod commented on #128
Might be worth noticing that I have initially started with 5.6 and updated to 5.7

[2019-03-06 18:00] musonza commented on #128
what exact version is in your `composer-lock`?

[2019-03-06 18:01] Hirbod commented on #128
[code]

[2019-03-06 18:10] musonza commented on #128
can you comment out  'Chat' => Musonza\Chat\Facades\ChatFacade::class and run `composer require musonza/chat`

[2019-03-06 18:12] c-fitzmaurice commented on #128
I can confirm it’s not working via auto discovery or manual install.

After composer install/dump-auto load it prints the package has been discovered but it’s not registering.

[2019-03-06 18:13] Hirbod commented on #128
Done.

1) Removed line from app.php
2)

[code]

No change.

[code]

[2019-03-06 18:22] musonza commented on #128
a fix will be pushed in a few mins

[2019-03-06 18:23] Hirbod commented on #128
Thank you very much @musonza! Highly appreciated

[2019-03-06 18:29] c-fitzmaurice commented on #128
Same, @Hirbod! Really appreciate the quick fix @musonza

[2019-03-06 18:56] Hirbod commented on #128
I can confirm, v3.2.4 has fixed the issue! Thank you very much.

[2019-03-06 19:30] Hirbod opened #129 "User can post to conversation without being member of it"
@musonza I made some simple tests to deeply understand how this promising package works.

I made some tests and figured out that a user can post to a chat without being a member of it.

Case:
I created a conversation between User1 and User2 (Id 3 and 6)
I created another User, with ID 8. I "manipulated" the "conversation-id" inside my params to post into "conversation id 7" which is the conversati

[2019-03-06 19:49] Hirbod commented on #129
I will simply fix this checking if the current user id is inside of
[code]

Actually I like the flexibility of posting to a conversation without being member of if, as we're going to push "ads" as "messages" from "publishers" into the chat. Checking if the user is a member of it would complicate things for us.

[2019-03-06 19:49] #129 closed

[2019-03-07 01:25] caiokawasaki commented on #90
@Hirbod If I'm right, it was cache, Laravel's cache already deceived me many times. Try the following commands:

`composer dump -o`
`php artisan cache:clear`

[2019-03-07 16:35] #128 closed

[2019-03-08 12:11] bhavin-zwt opened #130 "How can i setup pusher with your demo?"
Hii @musonza

I have one query regarding your demo example. I have setup in local system and working very well but this is not real time messaging system. This is look like page refresh and normal ajax or vue post request.

So how can i make this demo to real time messaging system. If you have real time message system demo then you can share me.

Please explain if possible then how can convert you

[2019-03-09 19:17] zek commented on #127
Yeah I also noticed that it is updated after each message.

Adding this to the documentation could be useful

Thanks :)

[2019-03-10 23:20] musonza commented on #130
You can test this out here https://github.com/musonza/chat-demo/blob/62e39992070b3a63053c43ad4e9a3191cd709d6d/resources/js/components/ChatMessages.vue#L60

[2019-03-10 23:22] #127 closed

[2019-03-11 12:13] bhavin-zwt commented on #130
Ohh I have seen that.

But i don't know when i will add that MIX_PUSHER_APP_KEY and MIX_PUSHER_APP_CLUSTER to that file and remove comment of enablePusher function. Then message functionality will be updated by pusher with real time system! OR Do i will update more code to your demo to make real time system with pusher.

I f you all ready done then please inform so i can purchase the Pusher plan a

[2019-03-11 13:05] musonza commented on #130
You can signup for a free pusher account and test

[2019-03-11 13:16] bhavin-zwt commented on #130
I have set all app detail in .env file and remove comment from your defined file but nothing happened it is working like before when i have run demo without Pusher.

Can you told what i am missing thing in your demo projact?

[2019-03-11 13:37] musonza commented on #130
are you using Laravel Echo
https://github.com/musonza/chat-demo/blob/62e39992070b3a63053c43ad4e9a3191cd709d6d/resources/js/bootstrap.js#L53
If it doesn't work you have to search under laravel echo questions since all the package is doing is fire events. Do you see any events in Pusher dashboard?

[2019-03-11 13:45] bhavin-zwt commented on #130
I have removed comment from code for laravel echo code from bootstrap.js file.

But it does not wok.

I have checked dashboard data for that app in pusher. It show like below.

![pusher_dashboard](https://user-images.githubusercontent.com/45998022/54128386-f837bf00-4431-11e9-91b6-5421ff937afa.jpg)

[2019-03-11 13:46] bhavin-zwt commented on #130
Do you have live demo url project? I wan to test and see how this worked exactly from front side how the response is going on so i can see how this is working exactly according your demo and pusher.

[2019-03-25 11:54] Digital4design opened #133 "Class name must be a valid object or a string error on createConversation in laravel 5.8"
On creation of conversation, I am getting error- Class name must be a valid object or string.
It would be highly appreciated if anyone can help with it.

$participants = [Auth::user()->id, $this->admin->id];
$conversation = Chat::createConversation($participants);

[2019-03-25 16:10] musonza commented on #133
Can you provide more info on what's in the error logs. Which Class name is being said in this case?

[2019-03-26 10:27] Digital4design commented on #133
Solved it yesterday. Thanks.

[2019-03-26 10:27] #133 closed

[2019-04-04 08:56] goranjviv opened #134 "Hardcoded constraint to 'id' on 'users' table"
I see a potentially big issue with this - even though you allowed us to use a model other than `App\User`, in migrations you're supposing that conversations will be between entities stored in `users` table, which might not be the case at all. All sorts of integrity problems could arise with this approach.

Should be changed so that you use the table for the model set in the config.

[2019-04-04 09:01] musonza commented on #134
Yes thanks, feel free to make a PR. Otherwise i can address as soon as i get a chance.

[2019-04-04 09:14] goranjviv commented on #134
Will make a pr with addressing this issue during the weekend, I hope.

[2019-04-07 21:45] musonza commented on #134
fyi - i'm working on this https://github.com/musonza/chat/pull/135

[2019-04-07 22:45] musonza commented on #134
https://github.com/musonza/chat/releases/tag/v3.3.0

[2019-04-07 22:45] #134 closed

[2019-04-07 22:55] musonza commented on #107
This works fine. Deleted messages are not counted

[2019-04-07 22:55] #107 closed

[2019-04-26 16:04] miras1726 opened #137 "getMessages() returns only 25 messages but I need all"
Hi, great work

But here I faced an issue, when I try to get all messages for user
`Chat::conversation($conversation)->setUser($user)->getMessages()`
I get only 25 of them.

In your ConversationService class getMessages method there is no way to pass any paginate params. I don't know is it bug or not but is there are a way to fetch all the messages for user?
Thank you

[2019-04-26 16:09] musonza commented on #137
See this https://github.com/musonza/chat#pagination and let me know if you have issues

[2019-04-26 16:20] miras1726 commented on #137
Oh yes sorry I got it. But should I always specify 'perPage' param if I want more than 25 messages or is there a way to fetch all?

[2019-04-26 16:26] musonza commented on #137
Yes you have to specify. Here are the defaults
https://github.com/musonza/chat/blob/ce4e6f4aa46301a304d666fe5c4ef04b91e3825c/src/Traits/Paginates.php#L7-L12
No way to fetch all because that could be a lot of messages but if you have a limit for user messages then just specify the expected size.

[2019-04-26 16:27] miras1726 commented on #137
Ok thank you

[2019-04-26 16:27] #137 closed

[2019-05-13 10:29] dimitriskkkk opened #139 "How to get private conversation participants?"
Thanks for this package @musonza !  Is there any way I can retrieve a private conversations's participants given that i have conversation Id?

[2019-05-13 16:12] musonza commented on #139
[code]

[2019-05-13 23:55] #139 closed

[2019-05-18 03:05] #122 closed

[2019-05-25 01:18] AndTras commented on #130
@bhavin-zwt  Did you make it work?

[2019-05-31 13:34] quantumwebco opened #140 "User Message relationship"
When getting a conversation and looping through messages there is no relationship between the message and the user so e.g. ```$message->user->name``` does not work.

Is there a relationship and how do I access it?

[2019-05-31 17:42] musonza commented on #140
Hey, here is the relationship
https://github.com/musonza/chat/blob/0ecc3f3fb5c3ccb8f10993e322cbf5990d372734/src/Models/Message.php#L33-L36

So do something like

[code]

[2019-05-31 17:44] quantumwebco commented on #140
Oh sorry yeah I already trawled through the models and found it was sender. Thanks though!!

[2019-05-31 17:44] #140 closed

[2019-06-08 08:28] rez1dent3 opened #141 "You need to add the name of the chat"
Hello. I need the field "conversation.name")

[2019-06-08 08:29] #141 closed

[2019-06-14 13:27] bhavin-zwt commented on #130
@AndTras  Yes, I have made demo using the pusher.

[2019-06-27 22:16] kalnin opened #146 "How to get last page messages?"
I geted messages from chat

$this->messages = Chat::conversation($this->conversation)->setUser($this->user)->getMessages();

But, I have only first page my dialog,

I wanna get variable lastPage from getMeesage(), used

$m = Chat::conversation($this->conversation)->setUser($this->user)->getMessages();

   Chat::conversations()->setUser($this->user)
            ->setPaginationParams([

[2019-06-27 22:45] #146 closed

[2019-07-01 10:55] LastxTemplar opened #147 "Migration error for constraints"
**Describe the bug**
My environment runs `Laravel v5.8.11`
Running the migration errors out because it cannot create the foreign key constraints to the users table

**To Reproduce**
Steps to reproduce the behavior:
1.  Follow the instructions in the Readme
2.  Run `php artisan migrate`
3.  You will see `SQL error 1215` about not being able to create foreign key constraints

**Expected behavior**
I

[2019-07-18 15:15] MuhamedMohsen opened #148 "when create massage Class name must be a valid object or a string"
**Describe the bug**
**Class name must be a valid object or a string**

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Screenshots**

[2019-07-18 15:17] musonza commented on #148
You mean the class Chat? Did you import it

[2019-07-18 15:25] MuhamedMohsen commented on #148
[](url)
![image](https://user-images.githubusercontent.com/28537814/61470198-ee463f80-a980-11e9-8977-b58f19de25c5.png)

[2019-07-18 15:27] MuhamedMohsen commented on #148
Need Solve error

[2019-07-21 00:45] jehadja opened #149 "Laravel 5.8 use BigInteger and BigIncrement"
**Laravel 5.8 use BigInteger and BigIncrement for user->id **
the migration of database will not fit Laravel 5.8
**To Reproduce**
new laravel blog
require package
publish
migrate
Error

[code]
##fixing
[code]

[2019-07-22 02:19] musonza commented on #149
https://github.com/musonza/chat/releases/tag/v3.4.0

[2019-07-22 02:19] #149 closed

[2019-07-22 17:37] nereauweb commented on #147
Done it, it solved the reported error, but then I got a new one: SQLSTATE[42000]: Syntax error or access violation: 1068 Multiple primary key defined (SQL: alter table `mc_conversation_user` add primary key `mc_conversation_user_user_id_conversation_id_primary`(`user_id`, `conversation_id`))

It happens on the third table created (mc_conversation_user). I'm trying to find a solution for this, but

[2019-07-22 18:09] nereauweb commented on #147
got it to complete commenting out $table->primary(['user_id', 'conversation_id']); :

[code]

Still not sure if it's going to work correctly. I think migration needs a review...

[2019-07-22 21:51] nereauweb commented on #147
I think to have solved the last error: conceptually, we don't need autoincrement for user_id in mc_conversation_user, so it should be `$table->bigInteger('user_id')->unsigned()`, or `$table->bigIncrements('user_id')->unsignedBigIntegers()` (no bigIncrements).
Without that, i could de-comment the `$table->primary(['user_id', 'conversation_id']);` line with no further errors.

[2019-07-22 22:12] musonza commented on #147
@nereauweb good catch, that was unintentional copy and paste. I will fix that now

[2019-07-22 22:18] musonza commented on #147
https://github.com/musonza/chat/releases/tag/v3.4.1

[2019-07-22 22:18] #147 closed

[2019-07-29 10:37] rafalilloblanco opened #152 "Error getKeyName();"
Good morning, I have done all the steps in order and when I try to launch the migrations, it gives us the following error:
![Captura](https://user-images.githubusercontent.com/17000368/62042146-ad122300-b1fd-11e9-900a-34e63d42f2e1.JPG)

[2019-07-29 11:17] #152 closed

[2019-07-29 11:25] rafalilloblanco opened #153 "Error Migration"
Good morning when launching the migrations, I get the following error:
![Captura](https://user-images.githubusercontent.com/17000368/62044894-480dfb80-b204-11e9-9fef-a34fc0da53d4.JPG)

[2019-08-21 10:01] Baghdasarov commented on #148
@MuhamedMohsen add this line to config/musonza_chat.php
'sent_message_event' => 'Musonza\Chat\Eventing\MessageWasSent',

It must be have something like this. http://i.prntscr.com/8qwVXKFfSkWfQ35_2JB-5Q.png

Hope it help you.

[2019-08-24 02:18] #153 closed

[2019-08-26 08:30] kirillarutyunov opened #155 "Add ability for custom tables names"
I can publish migrations and change tables names, that's why I need ability to set new tables names in config file. Now there are a lot of places in models where tables names used directly, not from config or tableName() func.

What do you think about it?

[2019-08-26 10:52] musonza commented on #155
Is there any reason you want to change the names since the names are already prefixed to avoid conflicts

[2019-08-26 12:01] kirillarutyunov commented on #155
Codestyle and table-name convention inside our project. This is the only reason in my situation.

[2019-09-09 13:50] SimonJ opened #157 "Questing: How to use 2 tables"
Hi,

This looks like a really nice package, nice job!

In my app, I have a User table and a Client table.

User can send a message to a client, and a client should be able to respond to that user in the conversation created.

How do I handle that? For what I can see a `participant` should be a User object.

Hope you guys can guide me in the right direction :)

[2019-09-09 16:33] musonza commented on #157
Hi,
I like the idea of not limiting the participants to one Model. For this to work i will have to make updates to the package. I'm not sure i will find time soon to do that. Basically we can have a trait and/or contract for the participant models to follow

[2019-09-09 18:12] SimonJ commented on #157
Hi, @musonza Thanks for your comment!

Would be really cool to have Am not sure how to implement something like that, because the packages need to check for participants in one or more Models to see if it can find the "user" 😅

[2019-09-10 00:21] musonza commented on #157
Can you test using a branch with the updates i have made to the package (https://github.com/musonza/chat/compare/multiple-model-recipients?expand=1) by installing `"musonza/chat": "dev-multiple-model-recipients"`

Basically something like this implementation https://github.com/musonza/chat-demo/pull/3/files
You will need to add a trait `Musonza\Chat\Traits\Messageable` to each Model that can parti

[2019-09-16 00:06] panjiwiramanik opened #158 "getMessages() return nothing"
hi,
i have a problem when i try to retrieve all message for intended user with this code
`Chat::conversation($conversation)->setUser($user)->getMessages()`
i couldnt get all the message, it return nothing while this code just return the last message
`Chat::conversation($conversation)->setUser($user)->getMessages()`
how to get all the message?

thanks

[2019-09-16 01:44] panjiwiramanik commented on #158
i just saw your demo and this code fix my problem
`Chat::conversation($conversations)->for($user)->getMessages()`

[2019-09-16 01:44] #158 closed

[2019-09-16 06:42] SimonJ commented on #157
Wow! thanks a lot! i will try to test it out in the next couple of days 🙏

[2019-09-17 18:45] zek opened #159 "UUID for messages"
I use this library for a mobile application and I generate uuid for every message on the mobile app. I need to save uuid of message to mark message as read, delivered etc.

Is it possible to add this feature?

[2019-09-19 06:37] SimonJ commented on #157
Hey again @musonza I can't get the migration to work 🤔 Keep getting this weird error.
Am i doing something wrong?

<img width="1680" alt="Skærmbillede 2019-09-19 kl  08 31 56" src="https://user-images.githubusercontent.com/183790/65219315-9a5af280-dab8-11e9-88a0-6ec9ef3a2b82.png">

it's this schema that fails
https://github.com/musonza/chat/blob/multiple-model-recipients/database/migrations/create

[2019-09-19 14:47] musonza commented on #157
I will take a look

[2019-09-19 14:58] SimonJ commented on #157
Seems like when i run my tests it works fine 🤔 but not when i do the `php artisan migrate` in the terminal

[2019-09-23 06:17] SimonJ commented on #157
@musonza Did you have any issues :)?

[2019-09-25 13:31] fujiwaraizuho opened #160 "Queting: How to use Non-default database"
Hi.
Thank you for a very good library!

In my app, I have a default database and Chat database.

Looking at the code, it seems that a database error will occur in the model file even if the migration file is changed.

How do I handle that?

[2019-09-25 13:33] musonza commented on #160
I can add the ability to specify a database connection

[2019-09-25 13:35] fujiwaraizuho commented on #160
Very good news!!!
When will it be?

[2019-09-26 03:59] fujiwaraizuho commented on #160
@musonza
When will it be completed?

[2019-09-28 08:04] fujiwaraizuho opened #162 "NOT NULL constraint error due to the implementation of the ability that specifies the database connection"
Running a TestCase with this PullRequest(#161) will result in a NOT NULL constraint error.

Error:
[code]

[2019-10-07 23:26] affektde opened #164 "Postgresql: distinct error after upgrading to Laravel 6.0"
**Describe the bug**
I try to get all conversation from a user with `$conversations = Chat::conversations()->setUser($customer)->setPaginationParams([
      'perPage' => 1000,
    ])->get()->getCollection();`

Postgres throws an exception of:

[code]

Only thing that I've changed on my system was upgrading to Laravel 6.0.

**To Reproduce**
Steps to reproduce the behavior:
1.  install latest versio

[2019-10-07 23:36] affektde commented on #164
Ok, if you add `mc_conversations.id` as `orderBy` then it works.

[code]

I will write a pr.

[2019-10-07 23:43] affektde commented on #164
I am sorry, my composer vendor did not update correctly. I see that this was just committed as a change.

[2019-10-07 23:43] #164 closed

[2019-10-21 05:25] horsebuzz opened #165 "Broadcast toOthers"
Please integrate a feature to broadcast events to others like Laravel offers.

I want to broadcast messageWasSent event to only other chat group members and not the sender of the message.

Thank you

[2019-10-26 18:53] Hirbod opened #171 "Not installable on Laravel 6.4.0"
This package is currently only installable on 6.0. I don't see any breaking changes with 6.4.0. You might also want to add ^6.0 instead of ~6.0 ?

@musonza

[2019-10-26 19:32] musonza commented on #171
hi, could you make a PR and i will merge. Thanks

[2019-10-27 01:09] musonza commented on #171
https://github.com/musonza/chat/pull/175

[2019-10-27 01:37] #171 closed

[2019-10-27 04:06] musonza commented on #159
Can you explain this more. I'm working on a major release and would like to include anything useful.

[2019-10-27 04:07] #148 closed

[2019-10-27 07:13] Hirbod commented on #171
Thank you very much. Was about to push a PR but you also did some more adjustments then I would've. Works great so far

[2019-10-27 12:23] Hirbod commented on #104
@musonza any hint how we can achieve this? I want to build an inbox in my app

[code]

But I can't build what classic messaging apps do, because I don't have the other user in my return (but the Inbox usally shows the name of the other user + his avatar and the last message)

[2019-10-27 12:57] musonza commented on #104
@Hirbod i see the issue for 1:1 conversations. I will look at it as soon as i get a chance.
However, i'm working on this major update which might be worth looking at if you are just starting to use the package in your app https://github.com/musonza/chat/blob/multiple-model-recipients/README.md

[2019-10-27 13:18] Hirbod commented on #104
Hi @musonza, I just started integrating that chat to my app, but I can't wait because I am running out of time. Your major upgrade looks very promising, however, it looks like a BC how we add users to a conversation (currently user ids), your major upgrade adds models. Will this be backwards compatible? Of will we have to add the UserModel in the future?

I am asking because this would make big ch

[2019-10-27 13:45] musonza commented on #104
@Hirbod Got it. That's right it will be a breaking change but i'm going to have different table names or different prefixes and create a script to migrate from the current version. It won't be too much work because right now we are using one type of model so we know what model those ids represent

[2019-10-27 13:46] Hirbod commented on #104
Ok, thanks that you keep your existing users in mind :)

[2019-10-27 14:04] Hirbod commented on #104
For everybody looking for a workaround until we're covered:

[code]

So I grab all the users conversations, iterate through them and add a new key "recipient" to it, grabbing all users except for the current user-id, filtering all the fields I need using only(). If there is a better/more sexy way doing it, please don't hesitate to show your approaches.

[2019-10-27 14:16] Hirbod opened #181 "Add a sponsor button to your repo"
Hi,

as a developer (and open source developer myself) I know how much work and time consuming a free project can be. Please set up your sponsoring button, so we can leave some beer and coffee for you :)

https://help.github.com/en/github/building-a-strong-community/displaying-a-sponsor-button-in-your-repository

[2019-10-27 14:17] Hirbod commented on #181
P.S: I would recommend you to set up a custom url linking to something like https://www.paypal.me/abcdefg

[2019-10-27 14:18] musonza commented on #181
Thanks, will check that out

[2019-10-28 10:57] Hirbod opened #189 "Limit user data in "sender""
Hi,

`last_message` contains the `sender`. It contains all the database fields. Can we somehow limit the fields which should be returned?

[2019-10-29 00:01] musonza commented on #189
https://github.com/musonza/chat/pull/191

[2019-10-29 07:31] Hirbod commented on #189
Very nice, thank you. Could we also limit those fields for the user?

[2019-11-01 10:13] Hirbod commented on #189
I just tested this, it works great, but I will open up another issue regarding the users array

[2019-11-01 10:13] #189 closed

[2019-11-01 10:16] Hirbod opened #204 "Limit data in "users""
Hi @musonza,

first of all: thanks for the quick update on #189.
It works great. But when I send a message for example, I get a big response which has `conversation` and inside of this, I get the users array, with all connected users to this conversation. All data fields are exposed as well. Would love to limit those too. Thanks.

[2019-11-01 11:48] musonza commented on #204
hi, it might be worth using transformers for your responses so you have more control of what's returned. Thoughts?

[2019-11-01 12:00] Hirbod commented on #204
Yeah, I could also parse the result before returning it..

[2019-11-01 12:19] Hirbod commented on #204
Using transformers looks like a good idea, but the response isn’t a single user object, it’s a collection of everything. How can I transform the user collection inside of it? Do I have to iterate through, transform it and append it back to my return?

[2019-11-04 10:03] affektde commented on #164
Could it be that the order of `orderBy` is important after all? I have errors mentioned above in the issue back in my system. When exchanging the `orderBy` lines it works again.

[code]

I am still on postgresql 11.5. Is it caused by an update of latest postgresql?

[2019-11-06 00:55] Hirbod commented on #91
For all those using a filter on a LengthAwarePaginator, you can get your updated object back like this:

[code]

[2019-11-06 02:24] musonza commented on #204
@Hirbod yes you can certainly use transformers for collections and multiple objects
This example includes participants in addition to the conversation
https://github.com/musonza/chat-demo/blob/280017f7aef1eb739a5fe6ecc7f206c36b3533a2/app/Transformers/ConversationTransformer.php#L25

**Other examples**
https://github.com/musonza/chat-demo/tree/master/app/Transformers

A survey form that has questio

[2019-11-06 19:22] Hirbod opened #207 "last_message is gone"
Hi @musonza,

I just updated to 4.0 - unfortunately it broke everything I worked for. I migrated everything (and there was no migration script as you said) - but anyway, I'm 99% back and I like the whole new approach of this package. Thanks for your hard work.

But where is "last_message"? I can't build my Messenger-Inbox without it. Do I have to grab it explicitly?

[2019-11-06 19:36] musonza commented on #207
@Hirbod i would like to work with you on resolving this. Can you add me on discord `tinashe#3295` ? I'm at work right now so i don't have time to take a look

[2019-11-06 19:39] Hirbod commented on #207
@musonza I've added you

[2019-11-06 20:57] Hirbod commented on #207
can be closed, was because I used the model to retrieve the conversation

[2019-11-06 20:58] Hirbod opened #208 "DirectMessagingExistsException is thrown, still creates a conversation"
v4:
 DirectMessagingExistsException is thrown, still creates a conversation

[2019-11-06 21:03] Hirbod opened #209 "Conversation gets created even if user does not exist"
If I call something like

[code]

An error will be thrown (because ID 53 does not exist), but the Conversation still gets created in the database.

[2019-11-06 21:04] Hirbod commented on #209
nope sorry, false alarm

[2019-11-06 21:04] #209 closed

[2019-11-06 21:27] Hirbod opened #210 "ReadAll sets status for all"
Calling ` Chat::conversation($conversation)->setParticipant($request->user())->readAll();` sets the status of all messages to "seen", but this should not (or at least there should be another method) set this for own messages. I am displaying Chat-Bubbles with 1 and 2 ticks inside the bubble (like WhatsApp). 1 means its saved to the server, 2 means its read by the user.

But if I send the messages

[2019-11-06 21:35] Hirbod commented on #159
I think I know what he is proposing. I am building also a messaging app using React Native, and using React-Native-Gifted-Chat - and it required for the React Renderer to have a unique ID per message. So this package generate one for every message you append into the "virtual dom". The is a UUID. So if the messages is delivered (because to have more real time feeling we append the message even bef

[2019-11-06 21:41] Hirbod commented on #97
I think this issue can be closed, as it works great

[2019-11-06 23:25] #207 closed

[2019-11-07 02:58] musonza commented on #208
We can create a direct message after the effect so that's why. I have added an option to specify intent to create direct message before conversation creation
https://github.com/musonza/chat/releases/tag/4.0.1

[2019-11-07 02:58] #208 closed

[2019-11-07 03:46] musonza commented on #181
https://github.com/musonza/chat/pull/214

[2019-11-07 03:46] #181 closed

[2019-11-07 06:57] zek commented on #159
Yeah this is what I am trying to do @Hirbod

I use react-native-gifted-chat .

[2019-11-07 11:56] Hirbod commented on #208
@musonza I've updated the package and specified the intent, but now, it recreates conversations over and over again, even if there is already one. Is this what you want? Because usally, they shouldn't be more then one 1:1 Chat between to users, no matter who initiated the request.

If you want to keep it this way, give me a shout please, so I will make some checks before myself.

[2019-11-07 12:02] Hirbod opened #215 "Feature list"
- [ ] Add a method to strip out last_message for the requesting user as discussed in discord
- [ ] The total count of unread messages (maybe as chain option) when calling for users conversations (to show a unread counter in the inbox)
- [ ] Reduce all returned data to a minimum in order to save bandwidth and data
- [ ] Event if messages have been cleared or deleted by ALL parties in a conversation

[2019-11-07 12:13] Hirbod commented on #210
Looks like this is only the case when I grab the messages, it works well on the last_message in my inbox (so the read status is correct in the conversations but not in the message-return)

[2019-11-07 12:58] musonza commented on #208
can you test with https://github.com/musonza/chat/releases/tag/4.0.3

[2019-11-07 13:12] Hirbod commented on #208
Its semi-fixed @musonza

[code]

creates a conversation, and

[code]

Where 39 is my ID and 53 is the recipients id. Those are the same user-ids but the initiator is someone else. It should not recreate another conversation, it should return the existing one. (if there is any)

[2019-11-07 13:15] Hirbod commented on #208
And another interesting bug came with this. Those 2 requests created conversation 74 and 75.
If I send the message to 74 now, its fine, but if I send it to 75 (which exists but shouldn't), I'll get

[code]

[2019-11-07 13:18] Hirbod commented on #208
And the Exception is till thrown
"exception": "Musonza\\Chat\\Exceptions\\DirectMessagingExistsException",

[2019-11-07 16:59] musonza commented on #204
Closing as there is a way to limit with transformers provided by the package controllers and also can extend the base transformer if calling the functions directly.

[2019-11-07 16:59] #204 closed

[2019-11-07 20:57] #97 closed

[2019-11-09 21:23] Hirbod commented on #159
After digging deeper into this, saving a UUID is an  overhead and not needed. You can generate a UUID locally and pass it with your request as a parameter, and on your Laravel controller, grab that $request->msgid and pass it back as json in your return. I did this and this works perfectly now.

[2019-11-12 18:08] tusharvikky opened #219 "Get Conversation messages"
I am using v4 of the package. Two users. One user was a participant when the conversation was created. Another was added a day later.

However, when the initial user tries to fetch the messages.
[code]
This above code does output all messages from this user as well as the other users messages.

But, if we change user to user Id 3. Which was added as participant after few messages were sent using.

[2019-11-16 22:32] kefivitch commented on #219
**Same problem here**

[2019-11-16 23:10] kefivitch commented on #219
Hey all, i found a solution that may helps you.
You need to change the file : [\musonza\chat\src\Models\Conversation.php](url) in function getConversationMessages.

[code]
the last line was :
`->where($this->tablePrefix.'message_notifications.messageable_id', $participant->getKey());`
and that gives you the messages ( readed and unreaded ) of the same user and mark it as a sender.

[2019-11-17 02:11] musonza commented on #219
The idea was one shouldn't be able to see messages that were sent before they were part of the conversation. Much like how whatsapp groups work. Instead of changing the query we should make it more configurable on how the end-user wants this to work

[2019-11-17 07:37] tusharvikky commented on #219
@musonza Totally understand.  What if we add a flag. Which defaults to just fetching the current logic. But can be overridden to fetch all messages of the conversation.

[2019-11-17 09:04] gopal-gautam opened #221 "Can't send "0" as message body"
Exception raised 'Message body has not been set' when we send 0 in message

[2019-11-17 14:08] musonza commented on #221
I will fix that today

[2019-11-17 21:43] carlituxman opened #222 "Guest participant"
Is posible use a guest like participant on conversation?

[2019-11-17 23:43] musonza commented on #222
Maybe create a model that represent guests? You don’t have to necessarily track all their information but it will help track the participation record

[2019-11-18 18:09] Hirbod commented on #210
@musonza any eta on this? Thanks!

[2019-11-20 16:19] carlituxman opened #223 "failed migration"
when run php artisan migrate:

SQLSTATE[HY000]: General error: 1215 Cannot add foreign key constraint (SQL
  : alter table `mc_messages` add constraint `mc_messages_user_id_foreign` fo
  reign key (`user_id`) references `users` (`id`) on delete cascade)

[2019-11-20 16:29] carlituxman commented on #223
change ->bigInteger('user_id') to ->integer('user_id') working!

[2019-11-20 16:29] #223 closed

[2019-11-20 18:15] carlituxman opened #224 "Trait 'Musonza\Chat\Traits\Messageable' not found"
I just install v4.0.0-rc2 but not working Messageable trait

what version I need?

[2019-11-20 21:41] musonza commented on #224
@carlituxman for this version `4` there is no real support for 5.8. Unless you want to fork in the meantime and update the requirements

[2019-11-22 09:16] gopal-gautam commented on #221
Any update on this?

[2019-11-25 18:29] musonza commented on #221
https://github.com/musonza/chat/pull/225

[2019-11-25 18:29] #221 closed

[2019-11-26 23:38] #165 closed

[2019-11-26 23:41] #159 closed

[2019-11-26 23:42] musonza commented on #155
Closing this time as it results in a  lot of breaking changes

[2019-11-26 23:42] #155 closed

[2019-11-26 23:44] #130 closed

[2019-11-27 04:19] musonza commented on #215
WIP https://github.com/musonza/chat/pull/227

[2019-11-27 04:53] Hirbod commented on #215
Reduce all returned data to a minimum in order to save bandwidth and data
-> this can already be done with Transformers

[2019-11-28 02:19] musonza commented on #215
@Hirbod cleaning up messages - https://github.com/musonza/chat/blob/master/README.md#cleanup-deleted-messages

[2019-11-28 02:22] Hirbod commented on #215
What's in the body of the event for the cleared conversation? (assuming there are 10.000 messages). Will we reach memory limits here?

[2019-11-28 02:28] Hirbod commented on #210
Friendly ping @musonza

[2019-11-28 02:45] musonza commented on #215
Just the conversation https://github.com/musonza/chat/blob/bb0aa0d1c7d99e9eeb975c2e492fc598ba43cb00/src/Eventing/AllParticipantsClearedConversation.php#L13. You will need to do a little work and query for the messages from that time of deletion. Yes, including the messages won't make sense

[2019-11-28 02:46] Hirbod commented on #215
So the messages aren't actually deleted, just a timestamp will be added? (soft delete?)

[2019-11-28 02:47] musonza commented on #215
We only store one message in the messages table to avoid duplicating for participants. The notifications table is the one we do soft deletes on.

[2019-11-28 22:08] Hirbod commented on #210
I found out that readAll actually sets the read_at value in the messages response, while inside the database everything is marked correctly (seen for me, but not for the receiver). So read_at should not be set, if not all other participants have seen it (could be an issue on group chats but a no brainer on 1:1)

[2019-11-28 22:33] musonza commented on #210
Ok Thanks, I will take a look at this over the weekend

[2019-11-28 23:32] musonza commented on #210
@Hirbod can you paste a snippet of code you are using for the above?

[2019-11-28 23:33] Hirbod commented on #210
[code]

And in the response, I check the read_at value to determine, if the message was read. But its already set when I open the chat once again. If I remove readAll, the value is empty and correct but will never update ofc.

[2019-11-28 23:35] Hirbod commented on #210
If I check the notification table, everything is right. The read status is also correct when I get all conversations, but the read_at value is wrongly set for the current user requesting all the messages. It should be read_at for me, if the other party actually read it, not when I read it. (my own messages)

[2019-12-04 18:43] carlituxman opened #231 "findOrFail on getById"
when we do getById with an id that not exists this launch 404 evidently but I think is better return null instead

[2019-12-05 00:18] musonza commented on #231
that makes sense

[2019-12-05 00:24] musonza commented on #231
https://github.com/musonza/chat/releases/tag/v4.2.0

[2019-12-05 00:24] #231 closed

[2019-12-09 00:05] Hirbod commented on #210
....

[2019-12-09 01:50] musonza commented on #210
@Hirbod looking at this again, the read_at column only works for the recipient (whether you have seen the message). You are trying to track who has read/seen messages you send?

[2019-12-09 02:33] Hirbod commented on #210
If I send a message I want to know if the recipient read it. I am checking for the read_at. But read_at gets a timestamp when I call ```Chat::conversation($conversation)->setParticipant($request->user())->readAll()``` (I call this everytime I grab a chat). But read_at only should be filled when the recipient triggered readAll, not when I did.

[2019-12-09 04:30] musonza commented on #210
That's not the use of this column. The `readAll()` is more like an inbox when you select messages and mark them as read. There is no functionality that exists right now to do this. What would you do for group messages? However, I'm sure you can make it work by writing a query for that.

[2019-12-09 04:34] Hirbod commented on #210
readAll sets the messages of a conversation to read. Why would I want to mark my own messages as read? This makes no sense. But this is exactly whats happening right now. I only have 1:1 case right now, but yes, group messages should deliver a read status per message per user (same as whatsapp).

In whatsapp, you can watch which user has seen your message and the ticks turn blue when all users of

[2019-12-09 04:41] musonza commented on #210
Yes but that functionality in whatsapp is different from what `read_at` is doing here. It can pretty much be ignored when you `is_sender` is `true` as it's meaningless for own messages.

[2019-12-09 04:42] Hirbod commented on #210
So how can I determine the status using my snippet from above?

[2019-12-09 04:46] musonza commented on #210
You can start by looking at this query https://github.com/musonza/chat/blob/e60fcbdfa1c6f5e08d743142fd8e804bb8ec6cf4/src/Models/Conversation.php#L319-L343 and see how you can have a variation of that

[2019-12-09 07:41] kirillarutyunov opened #233 "Why did you remove `sent_message_event ` option in config?"
There is no way to customise my own event class

[2019-12-09 13:12] musonza commented on #233
I added additional events https://github.com/musonza/chat/tree/master/src/Eventing here. So you can listen for any event you want to customize and fire your own custom event in your listener handler

[2019-12-10 11:42] aren1989 opened #234 "Unexpected result in conversation getParticipation function"
Hello

**Describe the bug**
During running this code snippet

`$conversation = Chat::conversations()->getById(36);`
`$user = App\User::find(1);`
`Chat::conversation($conversation)->getParticipation($user);`

**Expected behavior**
I expected to get this result:

"The participation of this user in this conversation"

or

"null" (if the user doesn't have any participation in this conversation)

But t

[2019-12-12 01:58] #233 closed

[2020-01-15 13:30] pmochine opened #235 "Get a conversation between two participants - (Works only for direct messages)"
Sorry, I'm too lazy to change the readme and to pull it here. But I'm currently migrating to the newest version and I was struggling why

`$conversation = Chat::conversations()->between($participantModel1, $participantModel2)`

is not working. It's because `between` sets the direct message to true.

[2020-01-16 03:03] pmochine commented on #235
I just tried testing the `common` function, and before that I looked at your code and could not find it anywhere. Nonetheless here is an example:

`return \Chat::conversations()->common([$order->seller, $order->buyer]);`

leads to:

`Call to undefined method Musonza\Chat\Services\ConversationService::common()`

[2020-01-16 03:18] musonza commented on #235
Hey, yeah that's a method that's no longer in this version. I have to update the readme

[2020-01-17 07:24] pmochine opened #236 "[Need help by everyone]: 📬How to create an Inbox with the newest update?"
So before the big update, my inbox worked quite fine. However, now I'm struggling to create an inbox method :( I need everyone's help. My code gets quite ugly.

I show you the **"old" code before patch 4.x.x.** and explain what needs to be done.

[code]

### Explination

1. First I'm loading all conversation a user has via pagination
2. I'm eager loading all users, even deleted ones (they appear a

[2020-01-17 09:46] pmochine commented on #235
Thanks :)

[2020-01-17 23:11] musonza commented on #236
I will take a look over the weekend

[2020-01-29 17:32] thiagodomingues opened #237 "Error to get all participant conversation"
Hello guys, first i would like to thank Musonza for the lib, it's very useful :)

Sec:
i'am getting this error when i use https://github.com/musonza/chat#get-participant-conversations function
![image](https://user-images.githubusercontent.com/9684862/73381131-02f67f00-42a4-11ea-9efc-1b538e38fba4.png)

Thanks guys!

[2020-02-04 11:57] pmochine commented on #236
It would be lovely 😊There must be a way to create a simple inbox.

Requirements are super easy (perspective from the authenticated user and only two people are chatting):

1. Able to paginate
2. See the last message
3. See if it was read or not
4. Fetch user's data

There are two catches though:

1. There might be conversations where all messages have been deleted -> filter them out
2. There might

[2020-02-07 17:46] aren1989 commented on #236
@pmochine
Hi, i do this on my project and i thing it can help you

    $conversaions = Chat::conversations()->setPaginationParams(['sorting' => 'desc'])
	    ->setParticipant(Auth::user())
	    ->limit(20)
	    ->page(1)
	    ->get();

All You Need To Do:

Clone library and replace `getConversationsList` function in `Musonza\Chat\Models\Conversation` file

    /**
     * @param Model $participant

[2020-02-14 11:16] olsbg opened #241 "Installation and setup"
Hi,

I have installed the package using your instructions and copied the following files from demo app:

- resources/views/home.blade.php
- resources/views/layouts/app.blade.php
- resources/js/components/ChatConversation.vue
- resources/js/components/ChatForm.vue
- resources/js/components/ChatMessages.vue
- resources/js/components/ConversationParticipants.vue
- public/js/app.js
- routes/channels.p

[2020-03-02 16:39] theMSY commented on #235
Hey @musonza
Can I ask you why it was removed?

[2020-03-02 16:45] musonza commented on #235
@theMSY I believe it was giving incorrect results since I had implemented it with user ids only. It needed work and I didn't have time but if you need it I would be glad to help if you have a PR started

[2020-03-02 16:48] theMSY commented on #235
, it sounds like an opportunity to contribute. I would gladly help to implement it once I'm free. 😄

[2020-03-17 20:39] #162 closed

[2020-03-17 20:39] #160 closed

[2020-04-10 05:46] Mu9tafa-Online commented on #29
@musonza  How to check if conversation exists between two users on the latest versions (**v4.4.0**) ??

[2020-04-10 06:42] Mu9tafa-Online commented on #235
**What is the new alternative of :**
Chat::conversations()->between($participant1, $participant2)

[2020-04-12 08:53] Mu9tafa-Online commented on #219
I wanna get conversation messages too!
**Which method should I use ??**

[2020-04-29 19:22] AEK-BKF opened #249 "Unable to create conversation !"
I've just installed the package on L6.2.
I tried to create new conversation in order to send a message, I get this error :
` Argument 1 passed to Musonza\Chat\Chat::createConversation() must be of the type array `

Here my simple code:
[code]
`$request->receivers` is an input which contain an array of users IDs.

What's wrong ?

[2020-04-30 09:17] tarangpatel61 opened #250 "Add Order Based Chat"
Hello Can you add the chat converstion based on Order.
so 2 user can chat on particular order .
For example
if i have order one Mobile phone to one shop so order person and the shop owner can chat on that particular order.

[2020-04-30 23:56] AEK-BKF commented on #137
Hi @gomer1726,
Please, how did you resolve the problem ? I have the same issue, I cannot get conversation messages paginated !
Thanks

[2020-05-07 04:27] gomer1726 commented on #137
@AEK-BKF Hi. Did you solve your problem? Let me know if not

[2020-05-07 15:43] musonza commented on #250
Hey,

You could make the conversation between the customer model and order model. The owner will just be responding as the Order. Requires a little work in terms of your interface on your end

[2020-05-07 15:44] musonza commented on #249
is `$request->receivers` an array? Can you show the sample input?

[2020-05-07 15:59] AEK-BKF commented on #249
I fixed it, thanks.

[2020-05-07 15:59] #249 closed

[2020-05-08 02:46] tarangpatel61 commented on #250
Can you give some ides about it?

On Fri, 8 May 2020 at 1:13 am, Tinashe Musonza <notifications@github.com>
wrote:

--

*THANK YOUTARANG M PATEL*

*Mobile No. : +61452659925**Skype Id: tarang.patel444*
-----------------------------------------

"If you want to make a change in the world, you start with yourself. Make
the changes you want and in the process you’ll inspire others to do the
same."

[2020-05-08 06:07] alvintheodora opened #251 "Archive Conversation"
Is there any feature for archiving a conversation?

The expectation:
So, after archiving, then we create new  direct_message conversation, it will check if any existing direct_message conversation or not, if exists then the old conversation shows up with old messages are still there

[2020-06-03 10:47] Gicminos opened #252 "Upgrade 3.3 to 4.4"
Hi all,

I am trying to update this package from 3.3 to 4.4, realizing that it will break everything.

First of all, the main reason for the willing to update it is because it was required for me to upgrade Laravel 5 to 7.

As I see this breaks a lot, looking around the repo I have seen that somebody was talking about an update script, but it looks like it hasn't been realized.

Is there any sugge

[2020-06-04 04:21] horsebuzz opened #253 "Return Conversation instead of Participations model"
When I run the following code to get all conversation as per documentation

    $conversations = Chat::conversations()->setParticipant($participantModel)->get();

It returns Participation model. It should return the Conversation model so that it can be easily feed into resources or fetch any other relevant data to the conversation.

Thank you

[2020-06-10 01:38] horsebuzz opened #254 "How to check if direct conversation already exists and get id of that conversation?"
How do I get the direct conversation id between 2 users?

[2020-06-10 01:43] #254 closed

[2020-06-10 01:46] horsebuzz commented on #254
At first I thought that `between` returns common private conversations between 2 users including the direct conversation. Correct me if I am wrong, `between` returns only private and direct between 2 users.

[2020-06-21 20:50] GTHell opened #255 "Can't change to custom 'sent_message_event'"
I'm trying to setup my own message event in the config of musonza the package still end up using the package event.

I've tried clearing the config but still nothing happen.
I also notice that the broadcast default is set to false but the the package still broadcast the event.

[2020-06-21 21:09] GTHell commented on #255
Look at the source code again and seem like such config isn't implemented yet. And broadcast to true is broadcasting the event to other!

[2020-06-21 21:26] musonza commented on #255
Any reason why you can't use or listen for the package event?

[2020-06-22 07:52] GTHell commented on #255
I want to hide the full event path because I'm providing a backend service.

[2020-06-24 10:45] micos7 opened #256 "Laravel echo doesnt receive the message sent event"
**Describe the bug**
Laravel echo doesnt receive the message sent event

**Expected behavior**
I would expect to receive the event.

**Screenshots**
It connects to the channel but no event when send a message

![connection](https://user-images.githubusercontent.com/4460809/85541541-c34c7d00-b620-11ea-8418-a69590fd8256.png)

**Additional context**
Code in the component

[code]

Echo code in bootstr

[2020-06-24 11:57] #256 closed

[2020-06-25 12:32] micos7 opened #257 "Trying to get property 'messageable' of non-object"
**Describe the bug**
I create 2 users both join the same conversation.

**To Reproduce**
Steps to reproduce the behavior:
1.  Create 2 users
2.  Second user sends message to first user(it is received)
3.  Second user exits conversation
4. On refresh first user we get Trying to get property 'messageable' of non-object

**Expected behavior**
I would expect for things to not crash.

**Screenshots**
!

[2020-06-25 12:38] musonza commented on #257
Is this from the demo repo? If not what code is making the call in HomeController

[2020-06-25 12:44] micos7 commented on #257
I only got the components from demo.This is my index in HomeController,first dd 'aaaaa' goes in,second dd is never reached

[code]

[2020-06-26 06:40] micos7 commented on #257
The problem seems to be,when I leave a conversation,the row with the conversation id is deleted in chat_participation table.This action also nukes the participation_id column in chat_messages table of the corresponding conversation making it null,so the messageable call fails.

[2020-07-22 23:23] Xoshbin opened #258 "BUG: It's not saving Kurdish or Alphabetic characters properly"
When creating a new conversation and trying to update the conversation title and description, all the characters are separated by slashes:
[code]

**To Reproduce**
Make a new conversation, then update it's title and description with an alphabetic characters like Kurdish or Arabic.

[code]

**Expected behavior**
Expected to save the data without slashes just like below:
[code]
**Screenshots**
https

[2020-07-31 13:35] Julien-R44 opened #259 "Create a public conversation without specifying models"
Hello,

Is there a way to create a public conversation without specifying models ? I don't understand why we are forced to provide models.
In my application, we have private message system and also public channels where everyone can talk.

[code]

Here is how I am creating public channels actually ( in a seeder ). The first issue I see with this is it's the number of rows created in the chat_parti

[2020-07-31 13:41] musonza commented on #259
Hello, currently there is isn’t but it’s possible to add that functionality but I’m not sure when I can get time to work on that yet. That’s a good point and if you have time before I get to it you can send a PR

[2020-09-05 16:54] guptanand opened #260 "musonza send message issue"
Hi sir

i am beginner and i am install this plugin step by step. but creating message function "createConversation" but this function return required fields. i am searching in google but not any find solution.

Any one help me step by step .

[2020-09-05 17:04] musonza commented on #260
Can you show a screenshot? I’m not sure I understand you issue

[2020-09-06 15:28] guptanand commented on #260
![musonza1](https://user-images.githubusercontent.com/67232716/92329218-aeaa4d80-f083-11ea-8fbf-72f689707a34.png)
![musonza2](https://user-images.githubusercontent.com/67232716/92329223-b23dd480-f083-11ea-92fb-738dd8997447.png)

[2020-09-06 15:33] musonza commented on #260
You need to pass in a model as the error suggests. See Readme https://github.com/musonza/chat/blob/master/README.md also an example app https://github.com/musonza/chat-demo
[code]

[2020-09-06 15:51] guptanand commented on #260
thanxs sir

but return this issue

"message": "Argument 1 passed to
Musonza\\Chat\\Services\\MessageService::to() must be an instance of
Illuminate\\Database\\Eloquent\\Model, string given, called in
E:\\Develpment\\xampp\\htdocs\\chandigarh\\dating\\app\\Http\\Controllers\\Api\\MessageController.php
on line 22",

My url is  http://localhost//abc/public/api/friend/send-message/27

On Sun, 6 Sep 20

[2020-09-06 15:55] musonza commented on #260
You also need to pass the conversation model use `Chat::conversations()->getById($id)` to get the conversation and pass that in the `to` function. The readme has all that info https://github.com/musonza/chat/blob/master/README.md#send-a-text-message

[2020-09-06 16:01] guptanand commented on #260
Sir, this is First message and my all chat table empty so
Chat::conversations()->getById($id) return null with error
 "message": "Argument 1 passed to
Musonza\\Chat\\Services\\MessageService::to() must be an instance of
Illuminate\\Database\\Eloquent\\Model, null given, called in
E:\\Develpment\\xampp\\htdocs\\chandigarh\\dating\\app\\Http\\Controllers\\Api\\MessageController.php
on line 24",

On

[2020-09-06 16:03] musonza commented on #260
Yes but `Chat::conversations()->getById($conversationId)` shouldn't return null if you have a conversation created

[2020-09-06 16:08] guptanand commented on #260
No Sir, I am not created any conversation. my all table is empty and i am
try to create first message send to user.

$userModel = Auth::user();
$conversation = Chat::conversations()->getById($conversationId);

$message = Chat::message('Hello')
    ->from($userModel)
    ->to($conversation)
    ->send();

My all chat tables is empty. i will try my first message sending.

Error message :- "message":

[2020-09-06 16:10] musonza commented on #260
if you do `dd($conversation)` what do you get? Make sure you get a conversation returned there first

[2020-09-06 16:15] guptanand commented on #260
dd($conversation) is return me null.

If you do not have a problm, you can access my computer on share and help
me.

On Sun, 6 Sep 2020 at 21:40, Tinashe Musonza <notifications@github.com>
wrote:

[2020-09-06 16:17] musonza commented on #260
Add me on Discord `tinashe#3295`

[2020-09-06 16:35] guptanand commented on #260
thanxs and sure sir

On Sun, 6 Sep 2020 at 21:48, Tinashe Musonza <notifications@github.com>
wrote:

[2020-09-06 16:48] guptanand commented on #260
no user found
My id or link
 https://discord.gg/gsqg3S

On Sun, 6 Sep 2020 at 21:48, Tinashe Musonza <notifications@github.com>
wrote:

[2020-09-06 16:49] guptanand commented on #260
guptanand#1593

On Sun, 6 Sep 2020 at 22:18, Anand Gupta <anand24213@gmail.com> wrote:

[2020-09-06 16:58] guptanand commented on #260
now i am send you request please connected .

On Sun, 6 Sep 2020 at 22:18, Anand Gupta <anand24213@gmail.com> wrote:

[2020-09-06 17:00] #260 closed

[2020-09-07 14:47] guptanand commented on #260
[image: image.png]

Yesterday function not any change and today i will try new conersion with
new id but this return again error, why sir.....hmm

On Sun, 6 Sep 2020 at 22:31, Tinashe Musonza <notifications@github.com>
wrote:

[2020-09-07 18:29] guptanand opened #261 "Two user conversations"
Hi sir

I have tried to get the conversations message with two users(sender & receiver) but it is return null ,please see my function and tell

public function getConversationWithTwoUsers(Request $request, $withUserId)
    {
    	$user = Auth::user();
    	$conversation = Chat::conversations()->between($user, User::find($withUserId));
    	dd($conversation);
    }

return  **null**

Thank you

[2020-09-14 09:27] mehranabi opened #262 "Laravel 8.0 Support"
Currently, I cannot install `musonza/chat` in my Laravel 8 project.
Any plan to add support for Laravel 8?
I would be happy to help.

[2020-09-14 11:55] musonza commented on #262
Yes, if you can make a PR that would be great. Thanks

[2020-09-15 12:11] mehranabi commented on #262
Hey @musonza .
Just created a Pull Request: https://github.com/musonza/chat/pull/263

[2020-09-19 12:17] musonza commented on #262
Thank you

[2020-09-19 12:24] musonza commented on #262
https://github.com/musonza/chat/releases/tag/v4.5.0

[2020-09-19 12:24] #262 closed

[2020-09-22 17:56] s5w95 opened #265 "MessageWasSent Event is broadcasting even if its disabled by config"
**Describe the bug**
The config prop "broadcasts" has no imact on the "MessageWasSent" event because it implements "ShouldBroadcast" so it will be broadcast anyway even if its disabled by config.

[2020-10-05 04:35] cyimking opened #266 "Database Seed"
How to create default messages in a DB Table Seeder (UsersTableSeeder)?

Tried - use \Chat
Error - The use statement with non-compound name '\Chat' has no effect

---

Tried - \Musonza\Chat\Chat::message($message)
            ->from($sender)
            ->to($conversation)
            ->send();
Error - Non-static method 'message' should not be called statically

--

Tried -  (new Musonza\Chat\Chat

[2020-10-05 04:57] cyimking commented on #266
Solution:
`use Musonza\Chat\Facades\ChatFacade as Chat;`

[2020-10-05 04:57] #266 closed

[2020-10-11 03:45] kingashok29 opened #267 "How to use other database connection instead of default?"
In my application, I have two database connections, and for this chat feature, I want to use other database connections instead of the default database connection specified in the config/database file.

I tried to set the property of database_connection in the chat config file but not working.

[2020-10-18 08:14] jim-nnamdi commented on #267
Hello have you implemented the delete message endpoint successfully ? i have issues with it, basically the conversation does not get deleted after the function is run

[2020-10-18 08:17] jim-nnamdi commented on #261
You will need to actually add a second user and pass the Request object to retrieve it, that's what you are missing
in your $conversation variable, try to do User::find($request->withUserId)); and then through your form pass a user id parameter, below is the refactored code.

public function getConversationWithTwoUsers(Request $request, $withUserId)
{
$user = Auth::user();
$conversation = Chat::co

[2020-10-25 10:42] micos7 opened #268 "How do i get non-direct conversations?"
`$conversations = Chat::conversations()->isDirect(false)->conversation->all();`

returns me all conversations,even the ones with` "direct_message" => 1`
Thanks for your time

[2020-11-04 10:42] timeshift92 opened #269 "Postgresql: distinct error after upgrading to Laravel 8.0 #164 -- duplicate"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1.  '...'
2.  '....'
3.  '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other context about the problem he

[2020-11-04 10:43] timeshift92 commented on #269
#164

[2020-11-13 10:33] micos7 opened #271 "Any way to nuke a conversation in one go? Or remove all participants in one action?"

[2020-11-14 17:54] #271 closed

[2020-11-16 08:02] yogs22 opened #272 "Pagination param not working"
**Describe the bug**
Hi! i tried implementing pagination in the getMessage() method, but there is no data change when I manipulate the page parameter

**To Reproduce**
Steps to reproduce the behavior:
1. There is my code with pagination params
`\Chat::conversations()->setPaginationParams([
                    'perPage' => 10,
                    'sorting' => "desc",
                    'columns' =

[2020-11-28 19:37] ali4zimi opened #273 "Get all conversation with its user"
Is there a way to get a list of conversations with users (not logged user).
For example, I am logged in and I want to list all my direct conversations along with users with whom I have this conversation.
In conversation objects we have participants but I can't use that. I am not sure if could convey my issue or not. But simply I want to build my app like facebook messenger. All users with their co

[2020-12-02 13:05] yacinegithub commented on #106
1- When Changing "use Musonza\Chat\Chat" to "use Chat" i get  Class 'Chat' not found
2- When adding the facade Chat to config/app.php i get "Argument 1 passed to Musonza\Chat\Chat::__construct() must be an instance of Musonza\Chat\Services\MessageService, instance of Illuminate\Foundation\Application given, called in /home/tawsse59/vendor/laravel/framework/src/Illuminate/Foundation/ProviderReposit

[2020-12-02 13:24] yacinegithub opened #274 "Non-static method 'createConversation' should not be called statically"
Non-static method 'createConversation' should not be called statically

1- When Changing "use Musonza\Chat\Chat" to "use Chat" i get Class 'Chat' not found

2- When adding the facade Chat to config/app.php i get "Argument 1 passed to Musonza\Chat\Chat::__construct() must be an instance of Musonza\Chat\Services\MessageService, instance of Illuminate\Foundation\Application given, called in /home/taw

[2021-01-12 19:24] rblijenbergh opened #275 "Extend the models"
Is there a way I can extend the models (like Conversation, Participation etc.)?

[2021-01-21 07:32] maarten00 commented on #274
In Config/app.php add the following to `aliases`:
[code]

And while you're at it, you probably need this too in `providers`:
[code]

[2021-01-23 12:31] yacinegithub commented on #274
Thank you, it works.

[2021-01-25 02:56] SaifulAzam opened #276 "MessageWasSent event not connecting on font-end"
Hey i don't know if its bug or my end problem.
why the MessageWasSent event not connecting on font-end .
I used laravel-websockets and i see the event fried on websockets log but not fired on font-end .

font-end code.
[code]

any idea?

[2021-02-26 14:59] gabrielcpolidoro commented on #219
This problem was created a year ago, but I think a flag would help a lot. I developed a support tool using this package, and I've been having this problem when viewing messages prior to a user entering the conversation. I can try to add a flag that suits this case.

[2021-02-26 15:03] musonza commented on #219
@gabrielcpolidoro Yes feel free to make a PR and I can take a look. Thanks

[2021-03-02 15:10] prashantsingh2408 opened #277 "Dependency issue in Laravel Framework 5.8.38"
**Dependency issue**
My Laravel Framework 5.8.38

**To Reproduce**
Steps to reproduce the behavior:
1.  composer require musonza/chat
Error:
`  Problem 1
    - Root composer.json requires musonza/chat ^4.5 -> satisfiable by musonza/chat[v4.5.0].
    - musonza/chat v4.5.0 requires laravel/framework ^6.0|^7.0|^8.0 -> found laravel/framework[v6.0.0, ..., 6.x-dev, v7.0.0, ..., 7.x-dev, v8.0.0, ..., 8.

[2021-03-17 18:19] silasrm opened #278 "Conversation with hundreds of participants cause error on mass insert: Prepared statement contains too many placeholders"
**Describe the bug**
One of conversation has ~20k participants and when new message is added, the conversation generator crash with this mysql error: SQLSTATE[HY000]: General error: 1390 Prepared statement contains too many placeholders

**To Reproduce**
Steps to reproduce the behavior:
1.  Normal instalation
2.  Add conversation
3.  Add hundreds of thousands of participants
4. Create a message an

[2021-03-17 18:23] tolgatasci commented on #278
I did a research. maybe it will work for you. Who knows, you did the same.

[code]

[2021-03-17 18:33] silasrm commented on #278
I'm understand. But how you override this method?

[2021-03-17 18:35] tolgatasci commented on #278
the code below didn't work?

[2021-03-17 18:38] silasrm commented on #278
My doubt is about how override without change the original file (src/Models/MessageNotification.php).

[2021-03-17 18:43] tolgatasci commented on #278
I am so sorry. I guess it's because this notification has fired up. It's like we can't manipulate it. The repo owner can help better.
@musonza

[2021-03-17 18:46] silasrm commented on #278
Tks

[2021-03-17 19:14] silasrm commented on #278
Good!

[2021-03-17 21:26] musonza commented on #278
@silasrm Yeah 20k is a lot. You can make a PR that adds a config option for batch insert and modify `src/Models/MessageNotification.php` to check for the configuration

[2021-03-17 22:15] silasrm commented on #278
@tolgatasci fix, modifing the insert to insert 1k per time. When will a new version be released?

[2021-03-18 01:29] silasrm commented on #278
My temporary solution, without modification of files package:
1. Add entry in PSR-4 autoload on composer.json
[code]

2. Execute composer dump-autoload
3. Create a copy of original MessageNotification class and change to use Job to insert processing:
[code]

4. Create the job class:
[code]

[2021-03-18 01:34] silasrm commented on #278
A elegant solution is use configuration model class file on configuration on config/musonza_chat.php. With this, is easily to change any model. Like:

[code]

[2021-03-22 07:34] nikhilinfynno commented on #252
same issue I am facing. I am updating laravel 5.4 to laravel 7.x and I am going step by step like 5.4 to 5.5 then 5.5 to 5.6 so on.
I found that the table name of chat conversations and all prefix has changed. so I am facing the issue of not found a table, how can I migrate my old table data into new to override the model?

[2021-03-22 09:16] Gicminos commented on #252
@nikhilinfynno for my project I just forked this package and kept supporting the old structure on newer versions. I am happy to send a PR here if the maintainers are interested.

[2021-03-22 09:30] nikhilinfynno commented on #252
@Gicminos how did you kept the old structure on newer versions. because the newer version has so many changes and I have to maintain my old data as well.

[2021-03-22 09:59] Gicminos commented on #252
I just bumped the dependencies on composer, made it compatible with the new Laravel and kept anything as 3.3. I periodically update the dependencies and if required I will change the code when necessary Happy to PR from here: https://github.com/Gicminos/chat

[2021-03-23 19:47] dhi2 commented on #261
This only gets conversations that are `direct`, make sure `direct_message` is `1`.

[2021-04-06 17:27] dhi2 commented on #276
@SaifulAzam Put a dot before `Musonza` so it's `.listen(".Musonza\\ ...`

Reference: https://laravel.com/docs/8.x/broadcasting#namespaces

[2021-04-18 12:15] samerzaki commented on #275
me too asking that question

[2021-04-21 06:21] keinagae opened #280 "any way to query specific types of messages"

[2021-04-21 09:18] tolgatasci commented on #280
if you wish use eloquent

Chat::where() or scope
https://laravel.com/docs/8.x/eloquent

You can generate queries of your own.

[2021-04-26 20:48] dhi2 commented on #280
You can reuse the `getConversationMessages` function from here: https://github.com/musonza/chat/blob/a2293493b0a2c6360145c1a0b12e5e1ca7562022/src/Models/Conversation.php#L319

Like this:

[code]

[2021-04-27 17:32] theimerj commented on #275
ideal and cleanest would be to have the possibility of providing custom model classes in config - pretty easy to implement, you just have to go through the codebase.

@musonza would you like this functionality? if yes, i might make a PR when i have a bit more time

**not ideal, may potentially introduce some problems and will not solve every use case**
one way to use own models which extend packag

[2021-05-05 07:29] ali4zimi opened #281 "Additional field in chat_message model"
I am designing my app and using this chat. Everything works well but I need one more field in the message table. For example, take a look at my screenshot below:
![Screen Shot 2021-05-05 at 12 00 48 PM](https://user-images.githubusercontent.com/13467999/117109227-9406b080-ad99-11eb-8776-845b21897581.png)

I want to add more details about this message. I can only set what the message type is. I nee

[2021-05-07 06:51] qiongjiayatou commented on #66
Hello @musonza
I can't get deleting messages and clear conversation to work.

[2021-05-12 15:38] Forsakenrox commented on #275
Yep, extending package models - core functionality on my opinion. But solution with traits - dirty. Maybe extending of base Chat:class will be is more flexible

[2021-05-12 15:42] musonza commented on #281
Hello, feel free to make a PR that adds `data` column like we have for the conversation table. Thanks

[2021-05-13 13:51] tommie24 commented on #275
Best way is to extend the core model and add your own functions like @theimerj suggested.

[2021-05-19 12:47] dhi2 opened #282 "Get all messages for a user"
How do I get all messages for the logged in user instead of messages of a single conversation?

[2021-05-23 18:52] #282 closed

[2021-06-19 03:36] naturalnumber commented on #277
It looks like, despite what the readme says, the minimum version support has been 6 for a while...

[2021-07-08 15:51] diego-lipinski-de-castro commented on #79
has this been done? nothing about this in the documentation

[2021-07-27 17:31] musonza commented on #79
@diego-lipinski-de-castro I don't think this was added to a conversation. Feel free to create a PR. Thanks

[2021-08-20 11:48] Pondake commented on #274
I'm trying to use this on a "boot() ::creating" function inside a model but got the same error.

I added both lines in config/app.php and used
`use Musonza\Chat\Chat;`
`use \Chat;` and
`use Chat;`

Without any luck.

[2021-08-22 12:40] pajkho opened #287 "Call to a member function only() on null error"
Get an errror if the sender model of a message is deleted

[2021-08-22 12:47] pajkho commented on #287
@musonza could you please check this? I have suggested a fix in #288

[2021-09-07 08:46] FadyBengoufa commented on #274
Having the same issue, I tried updating `config/app.php` but it didn't work for me, I'm using Laravel 8.

[2021-12-20 21:19] VivaJosh commented on #137
to paginate messages

[code]
                this might help someone too

[2022-01-21 16:04] samehdoush opened #293 "Error Call to undefined method Musonza\Chat\Services\MessageService::data()"
**Describe the bug**
Error Call to undefined method Musonza\Chat\Services\MessageService::data()  When send message with data

**To Reproduce**
Steps to reproduce the behavior:
1.  $message = Chat::message('Attachment 1')
		->type('attachment')
		->data(['file_name' => 'post_image.jpg', 'file_url' => 'http://example.com/post_img.jpg'])
		->from($model)
		->to($conversation)
		->send();
2. See erro

[2022-01-24 01:42] musonza commented on #293
Hey, you need to have this version installed https://github.com/musonza/chat/releases/tag/v5.0.0

[2022-01-24 15:27] #293 closed

[2022-01-27 02:12] samerzaki commented on #234
the same thing i faced. what did you do to solve it? @aren1989 ?

[2022-02-05 01:06] dhi2 opened #295 "Customize broadcast queue and connection in config"
We need to add custom queue and connection settings in the `MessageWasSent` file:
https://github.com/musonza/chat/blob/master/src/Eventing/MessageWasSent.php

[code]

And add those into the config file. This is because if I have the default `QUEUE_CONNECTION=database` in my `.env` then each time a message is sent it gets queued in the database, but I rather have it set to `'sync'`.

[2022-02-10 09:43] DanJamesMills opened #297 "A way of including all participation message_notifications"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-02-18 16:50] ibkhall opened #299 "Laravel 9 Support"

[2022-03-01 13:25] Forsakenrox commented on #299
realy necessary

[2022-03-02 16:04] #259 closed

[2022-03-17 09:13] samehdoush commented on #299
realy necessary

[2022-04-22 11:29] JordivdB commented on #299
Any updates on this?

[2022-04-29 07:53] salvationarinze commented on #274
+1

[2022-05-07 09:12] tsachi commented on #299
?

[2022-05-12 11:57] hamidafghan commented on #299
#298 @musonza Any plan to merge this PR?

[2022-05-17 21:26] stevebrainng commented on #299
No plan to add support for Laravel version 9?

[2022-05-18 10:02] musonza commented on #299
Just merged and will created a release

[2022-05-18 11:30] musonza commented on #299
https://github.com/musonza/chat/releases/tag/v6.0.0

[2022-05-18 11:30] #299 closed

[2022-05-23 08:55] hamidafghan commented on #299
Thank you @musonza

[2022-06-02 13:59] mooxnl opened #304 "Get all (unique) participants that a model ever had a conversation with"
I want to retrieve a list of all the Models that a certain Model ever had a conversation with.

My chat inbox has 3 columns:

1. list of contacts (grouped, so each contact is displayed only once and sorted by latest message first)
2. list of conversations with the selected contact
3. messages inside the selected conversation

My question is regarding the first column. Is this possible?

[2022-06-02 17:26] mooxnl opened #305 "Method ConversationService::common() does not exist"
According to the documentation, you can **Get common conversations among participants** using:
[code]

But that method doesn't exist.

**Steps to reproduce the behavior:**
[code]

**Expected behavior**
Return a list of conversations between `$model1` and `$model2`.

**Additional context**
The `between()` method could be used for this, however, that method only works for 2 models and conversations

[2022-06-09 07:44] goper-leo commented on #305
@mooxnl [it was removed](https://github.com/musonza/chat/issues/235#issuecomment-574963142)

[2022-07-30 02:37] jaimey commented on #274
This works for me in Laravel 9:
`use Musonza\Chat\Facades\ChatFacade as Chat;`

[2022-07-30 15:03] waiyanmyodev opened #309 "$conversation = Chat::conversations()->between($participantModel1, $participantModel2); is not work"
I try

$user1 = User::find(1);
$user2 = User::find(2);
$conversation = Chat::conversations()->between($user1, $user2);
return $conversation;

in my controller

[2022-09-19 16:37] imCaps commented on #309
Could you provide more information?
Does the system throws an exception?
Have you created a conversation before? It returns `null` If no conversations between participants

[2022-09-27 20:55] samehdoush opened #310 "how to get conversations with unreadCount"
How can I add unreadCount to

[code]

[2022-10-25 16:24] michaelgatuma commented on #310
You can use a conversation transformer then implement your transformer like this:
[code]

[2022-11-14 14:12] mohamedfadol commented on #309
make sure you get conversations that are direct, and  make sure direct_message column is 1.

[2022-11-14 14:13] mohamedfadol opened #311 "make sure you get conversations that are direct, and make sure direct_message column is 1."
make sure you get conversations that are direct, and  make sure direct_message column is 1.

_Originally posted by @mohamedfadol in https://github.com/musonza/chat/issues/309#issuecomment-1313772926_